<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easytoolsoft.easyreport.data.membership.dao.IModuleDao">
    <!-- CodeBuilder  Generated-->
    <resultMap id="ModuleMap" type="com.easytoolsoft.easyreport.data.membership.po.Module">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="has_child" property="hasChild" jdbcType="TINYINT"/>
        <result column="link_type" property="linkType" jdbcType="TINYINT"/>
        <result column="target" property="target" jdbcType="VARCHAR"/>
        <result column="params" property="params" jdbcType="VARCHAR"/>
        <result column="sequence" property="sequence" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="comment" property="comment" jdbcType="VARCHAR"/>
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
  	  id ,parent_id ,name ,code ,icon ,url ,path ,has_child ,link_type ,target ,params ,sequence ,status ,comment ,gmt_created ,gmt_modified
  	</sql>
    <sql id="Insert_Columns">
        <if test="parentId != null">parent_id,</if>
        <if test="name != null">name,</if>
        <if test="code != null">code,</if>
        <if test="icon != null">icon,</if>
        <if test="url != null">url,</if>
        <if test="path != null">path,</if>
        <if test="hasChild != null">has_child,</if>
        <if test="linkType != null">link_type,</if>
        <if test="target != null">target,</if>
        <if test="params != null">params,</if>
        <if test="sequence != null">sequence,</if>
        <if test="status != null">status,</if>
        <if test="comment != null">comment,</if>
        <if test="gmtCreated != null">gmt_created,</if>
        <if test="gmtModified != null">gmt_modified,</if>
    </sql>
    <sql id="Insert_Values">
        <if test="parentId != null">#{parentId,jdbcType=INTEGER},</if>
        <if test="name != null">#{name,jdbcType=VARCHAR},</if>
        <if test="code != null">#{code,jdbcType=VARCHAR},</if>
        <if test="icon != null">#{icon,jdbcType=VARCHAR},</if>
        <if test="url != null">#{url,jdbcType=VARCHAR},</if>
        <if test="path != null">#{path,jdbcType=VARCHAR},</if>
        <if test="hasChild != null">#{hasChild,jdbcType=TINYINT},</if>
        <if test="linkType != null">#{linkType,jdbcType=TINYINT},</if>
        <if test="target != null">#{target,jdbcType=VARCHAR},</if>
        <if test="params != null">#{params,jdbcType=VARCHAR},</if>
        <if test="sequence != null">#{sequence,jdbcType=INTEGER},</if>
        <if test="status != null">#{status,jdbcType=TINYINT},</if>
        <if test="comment != null">#{comment,jdbcType=VARCHAR},</if>
        <if test="gmtCreated != null">#{gmtCreated,jdbcType=TIMESTAMP},</if>
        <if test="gmtModified != null">#{gmtModified,jdbcType=TIMESTAMP},</if>
    </sql>
    <sql id="Batch_Insert_Values">
        <if test="id != null">#{id,jdbcType=INTEGER},</if>
        <if test="parentId != null">#{parentId,jdbcType=INTEGER},</if>
        <if test="name != null">#{name,jdbcType=VARCHAR},</if>
        <if test="code != null">#{code,jdbcType=VARCHAR},</if>
        <if test="icon != null">#{icon,jdbcType=VARCHAR},</if>
        <if test="url != null">#{url,jdbcType=VARCHAR},</if>
        <if test="path != null">#{path,jdbcType=VARCHAR},</if>
        <if test="hasChild != null">#{hasChild,jdbcType=TINYINT},</if>
        <if test="linkType != null">#{linkType,jdbcType=TINYINT},</if>
        <if test="target != null">#{target,jdbcType=VARCHAR},</if>
        <if test="params != null">#{params,jdbcType=VARCHAR},</if>
        <if test="sequence != null">#{sequence,jdbcType=INTEGER},</if>
        <if test="status != null">#{status,jdbcType=TINYINT},</if>
        <if test="comment != null">#{comment,jdbcType=VARCHAR},</if>
        <if test="gmtCreated != null">#{gmtCreated,jdbcType=TIMESTAMP},</if>
        <if test="gmtModified != null">#{gmtModified,jdbcType=TIMESTAMP},</if>
    </sql>
    <sql id="Select_Where_From_Map">
        <if test="id != null">and id = #{id,jdbcType=INTEGER}</if>
        <if test="parentId != null">and parent_id = #{parentId,jdbcType=INTEGER}</if>
        <if test="name != null">and name = #{name,jdbcType=VARCHAR}</if>
        <if test="code != null">and code = #{code,jdbcType=VARCHAR}</if>
        <if test="icon != null">and icon = #{icon,jdbcType=VARCHAR}</if>
        <if test="url != null">and url = #{url,jdbcType=VARCHAR}</if>
        <if test="path != null">and path = #{path,jdbcType=VARCHAR}</if>
        <if test="hasChild != null">and has_child = #{hasChild,jdbcType=TINYINT}</if>
        <if test="linkType != null">and link_type = #{linkType,jdbcType=TINYINT}</if>
        <if test="target != null">and target = #{target,jdbcType=VARCHAR}</if>
        <if test="params != null">and params = #{params,jdbcType=VARCHAR}</if>
        <if test="sequence != null">and sequence = #{sequence,jdbcType=INTEGER}</if>
        <if test="status != null">and status = #{status,jdbcType=TINYINT}</if>
        <if test="comment != null">and comment = #{comment,jdbcType=VARCHAR}</if>
        <if test="gmtCreated != null">and gmt_created = #{gmtCreated,jdbcType=TIMESTAMP}</if>
        <if test="gmtModified != null">and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}</if>
    </sql>
    <sql id="Update_Set_From_Bean">
        <if test="parentId != null">parent_id = #{parentId,jdbcType=INTEGER} ,</if>
        <if test="name != null">name = #{name,jdbcType=VARCHAR} ,</if>
        <if test="code != null">code = #{code,jdbcType=VARCHAR} ,</if>
        <if test="icon != null">icon = #{icon,jdbcType=VARCHAR} ,</if>
        <if test="url != null">url = #{url,jdbcType=VARCHAR} ,</if>
        <if test="path != null">path = #{path,jdbcType=VARCHAR} ,</if>
        <if test="hasChild != null">has_child = #{hasChild,jdbcType=TINYINT} ,</if>
        <if test="linkType != null">link_type = #{linkType,jdbcType=TINYINT} ,</if>
        <if test="target != null">target = #{target,jdbcType=VARCHAR} ,</if>
        <if test="params != null">params = #{params,jdbcType=VARCHAR} ,</if>
        <if test="sequence != null">sequence = #{sequence,jdbcType=INTEGER} ,</if>
        <if test="status != null">status = #{status,jdbcType=TINYINT} ,</if>
        <if test="comment != null">comment = #{comment,jdbcType=VARCHAR} ,</if>
        <if test="gmtCreated != null">gmt_created = #{gmtCreated,jdbcType=TIMESTAMP} ,</if>
        <if test="gmtModified != null">gmt_modified = #{gmtModified,jdbcType=TIMESTAMP} ,</if>
    </sql>
    <sql id="Update_Set_From_Map">
        <if test="set.parentId != null">parent_id = #{set.parentId,jdbcType=INTEGER} ,</if>
        <if test="set.name != null">name = #{set.name,jdbcType=VARCHAR} ,</if>
        <if test="set.code != null">code = #{set.code,jdbcType=VARCHAR} ,</if>
        <if test="set.icon != null">icon = #{set.icon,jdbcType=VARCHAR} ,</if>
        <if test="set.url != null">url = #{set.url,jdbcType=VARCHAR} ,</if>
        <if test="set.path != null">path = #{set.path,jdbcType=VARCHAR} ,</if>
        <if test="set.hasChild != null">has_child = #{set.hasChild,jdbcType=TINYINT} ,</if>
        <if test="set.linkType != null">link_type = #{set.linkType,jdbcType=TINYINT} ,</if>
        <if test="set.target != null">target = #{set.target,jdbcType=VARCHAR} ,</if>
        <if test="set.params != null">params = #{set.params,jdbcType=VARCHAR} ,</if>
        <if test="set.sequence != null">sequence = #{set.sequence,jdbcType=INTEGER} ,</if>
        <if test="set.status != null">status = #{set.status,jdbcType=TINYINT} ,</if>
        <if test="set.comment != null">comment = #{set.comment,jdbcType=VARCHAR} ,</if>
        <if test="set.gmtCreated != null">gmt_created = #{set.gmtCreated,jdbcType=TIMESTAMP} ,</if>
        <if test="set.gmtModified != null">gmt_modified = #{set.gmtModified,jdbcType=TIMESTAMP} ,</if>
    </sql>
    <sql id="Update_Where_From_Map">
        <if test="where.id != null">and id = #{where.id,jdbcType=INTEGER}</if>
        <if test="where.parentId != null">and parent_id = #{where.parentId,jdbcType=INTEGER}</if>
        <if test="where.name != null">and name = #{where.name,jdbcType=VARCHAR}</if>
        <if test="where.code != null">and code = #{where.code,jdbcType=VARCHAR}</if>
        <if test="where.icon != null">and icon = #{where.icon,jdbcType=VARCHAR}</if>
        <if test="where.url != null">and url = #{where.url,jdbcType=VARCHAR}</if>
        <if test="where.path != null">and path = #{where.path,jdbcType=VARCHAR}</if>
        <if test="where.hasChild != null">and has_child = #{where.hasChild,jdbcType=TINYINT}</if>
        <if test="where.linkType != null">and link_type = #{where.linkType,jdbcType=TINYINT}</if>
        <if test="where.target != null">and target = #{where.target,jdbcType=VARCHAR}</if>
        <if test="where.params != null">and params = #{where.params,jdbcType=VARCHAR}</if>
        <if test="where.sequence != null">and sequence = #{where.sequence,jdbcType=INTEGER}</if>
        <if test="where.status != null">and status = #{where.status,jdbcType=TINYINT}</if>
        <if test="where.comment != null">and comment = #{where.comment,jdbcType=VARCHAR}</if>
        <if test="where.gmtCreated != null">and gmt_created = #{where.gmtCreated,jdbcType=TIMESTAMP}</if>
        <if test="where.gmtModified != null">and gmt_modified = #{where.gmtModified,jdbcType=TIMESTAMP}</if>
    </sql>
    <sql id="BatchUpdate_Set_From_Bean">
        <if test="item.parentId != null">parent_id = #{item.parentId,jdbcType=INTEGER} ,</if>
        <if test="item.name != null">name = #{item.name,jdbcType=VARCHAR} ,</if>
        <if test="item.code != null">code = #{item.code,jdbcType=VARCHAR} ,</if>
        <if test="item.icon != null">icon = #{item.icon,jdbcType=VARCHAR} ,</if>
        <if test="item.url != null">url = #{item.url,jdbcType=VARCHAR} ,</if>
        <if test="item.path != null">path = #{item.path,jdbcType=VARCHAR} ,</if>
        <if test="item.hasChild != null">has_child = #{item.hasChild,jdbcType=TINYINT} ,</if>
        <if test="item.linkType != null">link_type = #{item.linkType,jdbcType=TINYINT} ,</if>
        <if test="item.target != null">target = #{item.target,jdbcType=VARCHAR} ,</if>
        <if test="item.params != null">params = #{item.params,jdbcType=VARCHAR} ,</if>
        <if test="item.sequence != null">sequence = #{item.sequence,jdbcType=INTEGER} ,</if>
        <if test="item.status != null">status = #{item.status,jdbcType=TINYINT} ,</if>
        <if test="item.comment != null">comment = #{item.comment,jdbcType=VARCHAR} ,</if>
        <if test="item.gmtCreated != null">gmt_created = #{item.gmtCreated,jdbcType=TIMESTAMP} ,</if>
        <if test="item.gmtModified != null">gmt_modified = #{item.gmtModified,jdbcType=TIMESTAMP} ,</if>
    </sql>
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from ezrpt_member_module where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="delete" parameterType="java.util.Map">
        delete from ezrpt_member_module
        <where>
            <include refid="Select_Where_From_Map"/>
        </where>
    </delete>
    <delete id="deleteIn">
        delete from ezrpt_member_module where id in
        <foreach collection="records" item="item" index="index" open="(" separator="," close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </delete>
    <insert id="insert" parameterType="com.easytoolsoft.easyreport.data.metadata.po.Report">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into ezrpt_member_module
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Insert_Columns"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="Insert_Values"/>
        </trim>
    </insert>
    <insert id="batchInsert" parameterType="java.util.List">
        insert into ezrpt_member_module
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Base_Column_List"/>
        </trim>
        values
        <foreach collection="record" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <include refid="Batch_Insert_Values"/>
            </trim>
        </foreach>
    </insert>
    <select id="selectById" resultMap="ModuleMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_member_module
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="select" resultMap="ModuleMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_member_module
        <where>
            <include refid="Select_Where_From_Map"/>
        </where>
    </select>
    <select id="selectOne" resultMap="ModuleMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_member_module
        <where>
            <include refid="Select_Where_From_Map"/>
        </where>
        limit 1
    </select>
    <select id="selectIn" resultMap="ModuleMap" parameterType="java.util.List">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_member_module
        where id IN
        <foreach collection="record" item="item" index="index" open="(" separator="," close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </select>
    <update id="updateById" parameterType="com.easytoolsoft.easyreport.data.metadata.po.Report">
        update ezrpt_member_module
        <set>
            <include refid="Update_Set_From_Bean"/>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="update" parameterType="java.util.Map">
        update ezrpt_member_module
        <set>
            <include refid="Update_Set_From_Map"/>
        </set>
        <where>
            <include refid="Update_Where_From_Map"/>
        </where>
    </update>
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="records" item="item" index="index" open="" close="" separator=";">
            update ezrpt_member_module
            <include refid="BatchUpdate_Set_From_Bean"/>
            where id=#{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    <select id="countByPager" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*) as total from ezrpt_member_module
        <where>
            <if test="where.parentId != null">and parent_id = #{where.parentId,jdbcType=INTEGER}</if>
            <if test="where.keyword != null">and ${where.fieldName} LIKE CONCAT('%', #{where.keyword, jdbcType=VARCHAR},'%')</if>
        </where>
    </select>
    <select id="selectByPager" resultMap="ModuleMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_member_module
        <where>
            <if test="where.parentId != null">and parent_id = #{where.parentId,jdbcType=INTEGER}</if>
            <if test="where.keyword != null">and ${where.fieldName} LIKE CONCAT('%', #{where.keyword, jdbcType=VARCHAR},'%')</if>
        </where>
        <if test="pager.sortItem != null and pager.sortItem != '' ">
            order by ${pager.sortItem} ${pager.sortType}
        </if>
        limit #{pager.startIndex} , #{pager.pageSize}
    </select>
    <select id="count" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*) as total from ezrpt_member_module
        <where>
            <include refid="Select_Where_From_Map"/>
        </where>
    </select>
    <!-- My Custom Interfaces -->
</mapper>