<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easytoolsoft.easyreport.data.membership.dao.IPermissionDao">
    <!-- CodeBuilder  Generated-->
    <resultMap id="PermissionMap" type="com.easytoolsoft.easyreport.data.membership.po.Permission">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="module_id" property="moduleId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="sequence" property="sequence" jdbcType="INTEGER"/>
        <result column="comment" property="comment" jdbcType="VARCHAR"/>
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="PermissionWithModulePathMap" type="com.easytoolsoft.easyreport.data.membership.po.Permission"
               extends="PermissionMap">
        <result column="path" property="path" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id , module_id , name , code , sequence , comment , gmt_created , gmt_modified
    </sql>
    <sql id="Insert_Columns">
        <if test="moduleId != null">module_id,</if>
        <if test="name != null">name,</if>
        <if test="code != null">code,</if>
        <if test="sequence != null">sequence,</if>
        <if test="comment != null">comment,</if>
        <if test="gmtCreated != null">gmt_created,</if>
        <if test="gmtModified != null">gmt_modified,</if>
    </sql>
    <sql id="Insert_Values">
        <if test="moduleId != null">#{moduleId,jdbcType=INTEGER},</if>
        <if test="name != null">#{name,jdbcType=VARCHAR},</if>
        <if test="code != null">#{code,jdbcType=VARCHAR},</if>
        <if test="sequence != null">#{sequence,jdbcType=INTEGER},</if>
        <if test="comment != null">#{comment,jdbcType=VARCHAR},</if>
        <if test="gmtCreated != null">#{gmtCreated,jdbcType=TIMESTAMP},</if>
        <if test="gmtModified != null">#{gmtModified,jdbcType=TIMESTAMP},</if>
    </sql>
    <sql id="Batch_Insert_Values">
        <if test="id != null">#{id,jdbcType=INTEGER},</if>
        <if test="moduleId != null">#{moduleId,jdbcType=INTEGER},</if>
        <if test="name != null">#{name,jdbcType=VARCHAR},</if>
        <if test="code != null">#{code,jdbcType=VARCHAR},</if>
        <if test="sequence != null">#{sequence,jdbcType=INTEGER},</if>
        <if test="comment != null">#{comment,jdbcType=VARCHAR},</if>
        <if test="gmtCreated != null">#{gmtCreated,jdbcType=TIMESTAMP},</if>
        <if test="gmtModified != null">#{gmtModified,jdbcType=TIMESTAMP},</if>
    </sql>
    <sql id="Select_Where_From_Map">
        <if test="id != null">and id = #{id,jdbcType=INTEGER}</if>
        <if test="moduleId != null">and module_id = #{moduleId,jdbcType=INTEGER}</if>
        <if test="name != null">and name = #{name,jdbcType=VARCHAR}</if>
        <if test="code != null">and code = #{code,jdbcType=VARCHAR}</if>
        <if test="sequence != null">and sequence = #{sequence,jdbcType=INTEGER}</if>
        <if test="comment != null">and comment = #{comment,jdbcType=VARCHAR}</if>
        <if test="gmtCreated != null">and gmt_created = #{gmtCreated,jdbcType=TIMESTAMP}</if>
        <if test="gmtModified != null">and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}</if>
    </sql>
    <sql id="Update_Set_From_Bean">
        <if test="moduleId != null">module_id = #{moduleId,jdbcType=INTEGER} ,</if>
        <if test="name != null">name = #{name,jdbcType=VARCHAR} ,</if>
        <if test="code != null">code = #{code,jdbcType=VARCHAR} ,</if>
        <if test="sequence != null">sequence = #{sequence,jdbcType=INTEGER} ,</if>
        <if test="comment != null">comment = #{comment,jdbcType=VARCHAR} ,</if>
        <if test="gmtCreated != null">gmt_created = #{gmtCreated,jdbcType=TIMESTAMP} ,</if>
        <if test="gmtModified != null">gmt_modified = #{gmtModified,jdbcType=TIMESTAMP} ,</if>
    </sql>
    <sql id="Update_Set_From_Map">
        <if test="set.moduleId != null">module_id = #{set.moduleId,jdbcType=INTEGER} ,</if>
        <if test="set.name != null">name = #{set.name,jdbcType=VARCHAR} ,</if>
        <if test="set.code != null">code = #{set.code,jdbcType=VARCHAR} ,</if>
        <if test="set.sequence != null">sequence = #{set.sequence,jdbcType=INTEGER} ,</if>
        <if test="set.comment != null">comment = #{set.comment,jdbcType=VARCHAR} ,</if>
        <if test="set.gmtCreated != null">gmt_created = #{set.gmtCreated,jdbcType=TIMESTAMP} ,</if>
        <if test="set.gmtModified != null">gmt_modified = #{set.gmtModified,jdbcType=TIMESTAMP} ,</if>
    </sql>
    <sql id="Update_Where_From_Map">
        <if test="where.id != null">and id = #{where.id,jdbcType=INTEGER}</if>
        <if test="where.moduleId != null">and module_id = #{where.moduleId,jdbcType=INTEGER}</if>
        <if test="where.name != null">and name = #{where.name,jdbcType=VARCHAR}</if>
        <if test="where.code != null">and code = #{where.code,jdbcType=VARCHAR}</if>
        <if test="where.sequence != null">and sequence = #{where.sequence,jdbcType=INTEGER}</if>
        <if test="where.comment != null">and comment = #{where.comment,jdbcType=VARCHAR}</if>
        <if test="where.gmtCreated != null">and gmt_created = #{where.gmtCreated,jdbcType=TIMESTAMP}</if>
        <if test="where.gmtModified != null">and gmt_modified = #{where.gmtModified,jdbcType=TIMESTAMP}</if>
    </sql>
    <sql id="BatchUpdate_Set_From_Bean">
        <if test="item.moduleId != null">module_id = #{item.moduleId,jdbcType=INTEGER} ,</if>
        <if test="item.name != null">name = #{item.name,jdbcType=VARCHAR} ,</if>
        <if test="item.code != null">code = #{item.code,jdbcType=VARCHAR} ,</if>
        <if test="item.sequence != null">sequence = #{item.sequence,jdbcType=INTEGER} ,</if>
        <if test="item.comment != null">comment = #{item.comment,jdbcType=VARCHAR} ,</if>
        <if test="item.gmtCreated != null">gmt_created = #{item.gmtCreated,jdbcType=TIMESTAMP} ,</if>
        <if test="item.gmtModified != null">gmt_modified = #{item.gmtModified,jdbcType=TIMESTAMP} ,</if>
    </sql>
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from ezrpt_member_permission where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="delete" parameterType="java.util.Map">
        delete from ezrpt_member_permission
        <where>
            <include refid="Select_Where_From_Map"/>
        </where>
    </delete>
    <delete id="deleteIn">
        delete from ezrpt_member_permission where id in
        <foreach collection="records" item="item" index="index" open="(" separator="," close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </delete>
    <insert id="insert" parameterType="com.easytoolsoft.easyreport.data.metadata.po.Report">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into ezrpt_member_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Insert_Columns"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="Insert_Values"/>
        </trim>
    </insert>
    <insert id="batchInsert" parameterType="java.util.List">
        insert into ezrpt_member_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Base_Column_List"/>
        </trim>
        values
        <foreach collection="record" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <include refid="Batch_Insert_Values"/>
            </trim>
        </foreach>
    </insert>
    <select id="selectById" resultMap="PermissionMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_member_permission
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="select" resultMap="PermissionMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_member_permission
        <where>
            <include refid="Select_Where_From_Map"/>
        </where>
    </select>
    <select id="selectOne" resultMap="PermissionMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_member_permission
        <where>
            <include refid="Select_Where_From_Map"/>
        </where>
        limit 1
    </select>
    <select id="selectIn" resultMap="PermissionMap" parameterType="java.util.List">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_member_permission
        where id IN
        <foreach collection="record" item="item" index="index" open="(" separator="," close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </select>
    <update id="updateById" parameterType="com.easytoolsoft.easyreport.data.metadata.po.Report">
        update ezrpt_member_permission
        <set>
            <include refid="Update_Set_From_Bean"/>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="update" parameterType="java.util.Map">
        update ezrpt_member_permission
        <set>
            <include refid="Update_Set_From_Map"/>
        </set>
        <where>
            <include refid="Update_Where_From_Map"/>
        </where>
    </update>
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="records" item="item" index="index" open="" close="" separator=";">
            update ezrpt_member_permission
            <include refid="BatchUpdate_Set_From_Bean"/>
            where id=#{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    <select id="countByPager" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*) as total from ezrpt_member_permission
        <where>
            <if test="where.keyword != null">
                ${where.fieldName} LIKE CONCAT('%', #{where.keyword, jdbcType=VARCHAR},'%')
            </if>
        </where>
    </select>
    <select id="selectByPager" resultMap="PermissionMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_member_permission
        <where>
            <if test="where.keyword != null">
                ${where.fieldName} LIKE CONCAT('%', #{where.keyword, jdbcType=VARCHAR},'%')
            </if>
        </where>
        <if test="pager.sortItem != null and pager.sortItem != '' ">
            order by ${pager.sortItem} ${pager.sortType}
        </if>
        limit #{pager.startIndex} , #{pager.pageSize}
    </select>
    <select id="count" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*) as total from ezrpt_member_permission
        <where>
            <include refid="Select_Where_From_Map"/>
        </where>
    </select>
    <!-- My Custom Interfaces -->
    <select id="selectAllWithModulePath" resultMap="PermissionWithModulePathMap">
        select t1.*, t2.path
        from ezrpt_member_permission t1
        inner join ezrpt_member_module t2 ON t1.module_id = t2.id
    </select>
</mapper>