<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easytoolsoft.easyreport.data.membership.dao.IRoleDao">
    <!-- CodeBuilder  Generated-->
    <resultMap id="RoleMap" type="com.easytoolsoft.easyreport.data.membership.po.Role">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="modules" property="modules" jdbcType="VARCHAR"/>
        <result column="permissions" property="permissions" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="is_system" property="isSystem" jdbcType="TINYINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="sequence" property="sequence" jdbcType="INTEGER"/>
        <result column="comment" property="comment" jdbcType="VARCHAR"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Example_Where_Clause1">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Example_Where_Clause2">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List_Without_Id">
  	  modules ,permissions ,name ,code ,is_system ,status ,sequence ,comment ,create_user ,gmt_created ,gmt_modified
    </sql>
    <sql id="Base_Column_List">
        id ,
        <include refid="Base_Column_List_Without_Id"/>
    </sql>
    <sql id="Insert_Columns">
        <if test="modules != null">modules,</if>
        <if test="permissions != null">permissions,</if>
        <if test="name != null">name,</if>
        <if test="code != null">code,</if>
        <if test="isSystem != null">is_system,</if>
        <if test="status != null">status,</if>
        <if test="sequence != null">sequence,</if>
        <if test="comment != null">comment,</if>
        <if test="createUser != null">create_user,</if>
        <if test="gmtCreated != null">gmt_created,</if>
        <if test="gmtModified != null">gmt_modified,</if>
    </sql>
    <sql id="Insert_Values">
        <if test="modules != null">#{modules,jdbcType=VARCHAR},</if>
        <if test="permissions != null">#{permissions,jdbcType=VARCHAR},</if>
        <if test="name != null">#{name,jdbcType=VARCHAR},</if>
        <if test="code != null">#{code,jdbcType=VARCHAR},</if>
        <if test="isSystem != null">#{isSystem,jdbcType=TINYINT},</if>
        <if test="status != null">#{status,jdbcType=TINYINT},</if>
        <if test="sequence != null">#{sequence,jdbcType=INTEGER},</if>
        <if test="comment != null">#{comment,jdbcType=VARCHAR},</if>
        <if test="createUser != null">#{createUser,jdbcType=VARCHAR},</if>
        <if test="gmtCreated != null">#{gmtCreated,jdbcType=TIMESTAMP},</if>
        <if test="gmtModified != null">#{gmtModified,jdbcType=TIMESTAMP},</if>
    </sql>
    <sql id="Batch_Insert_Values">
        #{item.modules,jdbcType=VARCHAR},
        #{item.permissions,jdbcType=VARCHAR},
        #{item.name,jdbcType=VARCHAR},
        #{item.code,jdbcType=VARCHAR},
        #{item.isSystem,jdbcType=TINYINT},
        #{item.status,jdbcType=TINYINT},
        #{item.sequence,jdbcType=INTEGER},
        #{item.comment,jdbcType=VARCHAR},
        #{item.createUser,jdbcType=VARCHAR},
        #{item.gmtCreated,jdbcType=TIMESTAMP},
        #{item.gmtModified,jdbcType=TIMESTAMP}
    </sql>
    <sql id="Update_Set_From_Bean">
        <if test="modules != null">modules = #{modules,jdbcType=VARCHAR} ,</if>
        <if test="permissions != null">permissions = #{permissions,jdbcType=VARCHAR} ,</if>
        <if test="name != null">name = #{name,jdbcType=VARCHAR} ,</if>
        <if test="code != null">code = #{code,jdbcType=VARCHAR} ,</if>
        <if test="isSystem != null">is_system = #{isSystem,jdbcType=TINYINT} ,</if>
        <if test="status != null">status = #{status,jdbcType=TINYINT} ,</if>
        <if test="sequence != null">sequence = #{sequence,jdbcType=INTEGER} ,</if>
        <if test="comment != null">comment = #{comment,jdbcType=VARCHAR} ,</if>
        <if test="createUser != null">create_user = #{createUser,jdbcType=VARCHAR} ,</if>
        <if test="gmtCreated != null">gmt_created = #{gmtCreated,jdbcType=TIMESTAMP} ,</if>
        <if test="gmtModified != null">gmt_modified = #{gmtModified,jdbcType=TIMESTAMP} ,</if>
    </sql>
    <sql id="Update_Set_From_Map">
        <if test="record.modules != null">modules = #{set.modules,jdbcType=VARCHAR} ,</if>
        <if test="record.permissions != null">permissions = #{set.permissions,jdbcType=VARCHAR} ,</if>
        <if test="record.name != null">name = #{set.name,jdbcType=VARCHAR} ,</if>
        <if test="record.code != null">code = #{set.code,jdbcType=VARCHAR} ,</if>
        <if test="record.isSystem != null">is_system = #{set.isSystem,jdbcType=TINYINT} ,</if>
        <if test="record.status != null">status = #{set.status,jdbcType=TINYINT} ,</if>
        <if test="record.sequence != null">sequence = #{set.sequence,jdbcType=INTEGER} ,</if>
        <if test="record.comment != null">comment = #{set.comment,jdbcType=VARCHAR} ,</if>
        <if test="record.createUser != null">create_user = #{set.createUser,jdbcType=VARCHAR} ,</if>
        <if test="record.gmtCreated != null">gmt_created = #{set.gmtCreated,jdbcType=TIMESTAMP} ,</if>
        <if test="record.gmtModified != null">gmt_modified = #{set.gmtModified,jdbcType=TIMESTAMP} ,</if>
    </sql>
    <sql id="BatchUpdate_Set_From_Bean">
        ﻿modules = #{item.modules,jdbcType=VARCHAR} ,
        permissions = #{item.permissions,jdbcType=VARCHAR} ,
        name = #{item.name,jdbcType=VARCHAR} ,
        code = #{item.code,jdbcType=VARCHAR} ,
        is_system = #{item.isSystem,jdbcType=TINYINT} ,
        status = #{item.status,jdbcType=TINYINT} ,
        sequence = #{item.sequence,jdbcType=INTEGER} ,
        comment = #{item.comment,jdbcType=VARCHAR} ,
        create_user = #{item.createUser,jdbcType=VARCHAR} ,
        gmt_created = #{item.gmtCreated,jdbcType=TIMESTAMP} ,
        gmt_modified = #{item.gmtModified,jdbcType=TIMESTAMP}
    </sql>
    <!-- insert -->
    <insert id="insert" parameterType="com.easytoolsoft.easyreport.data.membership.po.Role">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into ezrpt_member_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Insert_Columns"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="Insert_Values"/>
        </trim>
    </insert>
    <insert id="batchInsert" parameterType="java.util.List">
        insert into ezrpt_member_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Base_Column_List_Without_Id"/>
        </trim>
        values
        <foreach collection="list" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <include refid="Batch_Insert_Values"/>
            </trim>
        </foreach>
    </insert>
    <!-- end insert -->
    <!-- delete -->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from ezrpt_member_role where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.easytoolsoft.easyreport.data.membership.example.RoleExample">
        delete from ezrpt_member_role
        <if test="_parameter != null">
            <include refid="Example_Where_Clause1"/>
        </if>
    </delete>
    <delete id="deleteIn">
        delete from ezrpt_member_role where id in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </delete>
    <!-- end delete -->
    <!-- update -->
    <update id="updateById" parameterType="com.easytoolsoft.easyreport.data.membership.po.Role">
        update ezrpt_member_role
        <set>
            <include refid="Update_Set_From_Bean"/>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="update" parameterType="java.util.Map">
        update ezrpt_member_role
        <set>
            <include refid="Update_Set_From_Map"/>
        </set>
        <if test="_parameter != null">
            <include refid="Example_Where_Clause2"/>
        </if>
    </update>
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update ezrpt_member_role
            <include refid="BatchUpdate_Set_From_Bean"/>
            where id=#{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    <!-- end update -->
    <!-- select -->
    <select id="selectById" resultMap="RoleMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_member_role
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByExample" resultMap="RoleMap"
            parameterType="com.easytoolsoft.easyreport.data.membership.example.RoleExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from ezrpt_member_role
        <if test="_parameter != null">
            <include refid="Example_Where_Clause1"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectOneByExample" resultMap="RoleMap"
            parameterType="com.easytoolsoft.easyreport.data.membership.example.RoleExample">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_member_role
        <if test="_parameter != null">
            <include refid="Example_Where_Clause1"/>
        </if>
        limit 1
    </select>
    <select id="selectIn" resultMap="RoleMap" parameterType="java.util.List">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_member_role
        where id IN
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </select>
    <select id="countByExample" resultType="java.lang.Integer"
            parameterType="com.easytoolsoft.easyreport.data.membership.example.RoleExample">
        select count(*) as total from ezrpt_member_role
        <if test="_parameter != null">
            <include refid="Example_Where_Clause1"/>
        </if>
    </select>
    <select id="countByPager" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*) as total from ezrpt_member_role
        <if test="example != null">
            <include refid="Example_Where_Clause2"/>
        </if>
    </select>
    <select id="selectByPager" resultMap="RoleMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_member_role
        <if test="example != null">
            <include refid="Example_Where_Clause2"/>
        </if>
        <if test="pager.sortItem != null and pager.sortItem != '' ">
            order by ${pager.sortItem} ${pager.sortType}
        </if>
        limit #{pager.startIndex} , #{pager.pageSize}
    </select>
    <!-- end select -->
    <!-- My Custom Interfaces -->
</mapper>