<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easytoolsoft.easyreport.data.membership.dao.IUserDao">
    <!-- CodeBuilder  Generated-->
    <resultMap id="UserMap" type="com.easytoolsoft.easyreport.data.membership.po.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="roles" property="roles" jdbcType="VARCHAR"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="salt" property="salt" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="comment" property="comment" jdbcType="VARCHAR"/>
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id , roles , account , password , salt , name , email , telephone , status , comment , gmt_created ,gmt_modified
    </sql>
    <sql id="Insert_Columns">
        <if test="roles != null">roles,</if>
        <if test="account != null">account,</if>
        <if test="password != null">password,</if>
        <if test="salt != null">salt,</if>
        <if test="name != null">name,</if>
        <if test="email != null">email,</if>
        <if test="telephone != null">telephone,</if>
        <if test="status != null">status,</if>
        <if test="comment != null">comment,</if>
        <if test="gmtCreated != null">gmt_created,</if>
        <if test="gmtModified != null">gmt_modified,</if>
    </sql>
    <sql id="Insert_Values">
        <if test="roles != null">#{roles,jdbcType=VARCHAR},</if>
        <if test="account != null">#{account,jdbcType=VARCHAR},</if>
        <if test="password != null">#{password,jdbcType=VARCHAR},</if>
        <if test="salt != null">#{salt,jdbcType=VARCHAR},</if>
        <if test="name != null">#{name,jdbcType=VARCHAR},</if>
        <if test="email != null">#{email,jdbcType=VARCHAR},</if>
        <if test="telephone != null">#{telephone,jdbcType=VARCHAR},</if>
        <if test="status != null">#{status,jdbcType=TINYINT},</if>
        <if test="comment != null">#{comment,jdbcType=VARCHAR},</if>
        <if test="gmtCreated != null">#{gmtCreated,jdbcType=TIMESTAMP},</if>
        <if test="gmtModified != null">#{gmtModified,jdbcType=TIMESTAMP},</if>
    </sql>
    <sql id="Batch_Insert_Values">
        <if test="id != null">#{id,jdbcType=INTEGER},</if>
        <if test="roles != null">#{roles,jdbcType=VARCHAR},</if>
        <if test="account != null">#{account,jdbcType=VARCHAR},</if>
        <if test="password != null">#{password,jdbcType=VARCHAR},</if>
        <if test="salt != null">#{salt,jdbcType=VARCHAR},</if>
        <if test="name != null">#{name,jdbcType=VARCHAR},</if>
        <if test="email != null">#{email,jdbcType=VARCHAR},</if>
        <if test="telephone != null">#{telephone,jdbcType=VARCHAR},</if>
        <if test="status != null">#{status,jdbcType=TINYINT},</if>
        <if test="comment != null">#{comment,jdbcType=VARCHAR},</if>
        <if test="gmtCreated != null">#{gmtCreated,jdbcType=TIMESTAMP},</if>
        <if test="gmtModified != null">#{gmtModified,jdbcType=TIMESTAMP},</if>
    </sql>
    <sql id="Select_Where_From_Map">
        <if test="id != null">and id = #{id,jdbcType=INTEGER}</if>
        <if test="roles != null">and roles = #{roles,jdbcType=VARCHAR}</if>
        <if test="account != null">and account = #{account,jdbcType=VARCHAR}</if>
        <if test="password != null">and password = #{password,jdbcType=VARCHAR}</if>
        <if test="salt != null">and salt = #{salt,jdbcType=VARCHAR}</if>
        <if test="name != null">and name = #{name,jdbcType=VARCHAR}</if>
        <if test="email != null">and email = #{email,jdbcType=VARCHAR}</if>
        <if test="telephone != null">and telephone = #{telephone,jdbcType=VARCHAR}</if>
        <if test="status != null">and status = #{status,jdbcType=TINYINT}</if>
        <if test="comment != null">and comment = #{comment,jdbcType=VARCHAR}</if>
        <if test="gmtCreated != null">and gmt_created = #{gmtCreated,jdbcType=TIMESTAMP}</if>
        <if test="gmtModified != null">and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}</if>
    </sql>
    <sql id="Update_Set_From_Bean">
        <if test="roles != null">roles = #{roles,jdbcType=VARCHAR} ,</if>
        <if test="account != null">account = #{account,jdbcType=VARCHAR} ,</if>
        <if test="password != null">password = #{password,jdbcType=VARCHAR} ,</if>
        <if test="salt != null">salt = #{salt,jdbcType=VARCHAR} ,</if>
        <if test="name != null">name = #{name,jdbcType=VARCHAR} ,</if>
        <if test="email != null">email = #{email,jdbcType=VARCHAR} ,</if>
        <if test="telephone != null">telephone = #{telephone,jdbcType=VARCHAR} ,</if>
        <if test="status != null">status = #{status,jdbcType=TINYINT} ,</if>
        <if test="comment != null">comment = #{comment,jdbcType=VARCHAR} ,</if>
        <if test="gmtCreated != null">gmt_created = #{gmtCreated,jdbcType=TIMESTAMP} ,</if>
        <if test="gmtModified != null">gmt_modified = #{gmtModified,jdbcType=TIMESTAMP} ,</if>
    </sql>
    <sql id="Update_Set_From_Map">
        <if test="set.roles != null">roles = #{set.roles,jdbcType=VARCHAR} ,</if>
        <if test="set.account != null">account = #{set.account,jdbcType=VARCHAR} ,</if>
        <if test="set.password != null">password = #{set.password,jdbcType=VARCHAR} ,</if>
        <if test="set.salt != null">salt = #{set.salt,jdbcType=VARCHAR} ,</if>
        <if test="set.name != null">name = #{set.name,jdbcType=VARCHAR} ,</if>
        <if test="set.email != null">email = #{set.email,jdbcType=VARCHAR} ,</if>
        <if test="set.telephone != null">telephone = #{set.telephone,jdbcType=VARCHAR} ,</if>
        <if test="set.status != null">status = #{set.status,jdbcType=TINYINT} ,</if>
        <if test="set.comment != null">comment = #{set.comment,jdbcType=VARCHAR} ,</if>
        <if test="set.gmtCreated != null">gmt_created = #{set.gmtCreated,jdbcType=TIMESTAMP} ,</if>
        <if test="set.gmtModified != null">gmt_modified = #{set.gmtModified,jdbcType=TIMESTAMP} ,</if>
    </sql>
    <sql id="Update_Where_From_Map">
        <if test="where.id != null">and id = #{where.id,jdbcType=INTEGER}</if>
        <if test="where.roles != null">and roles = #{where.roles,jdbcType=VARCHAR}</if>
        <if test="where.account != null">and account = #{where.account,jdbcType=VARCHAR}</if>
        <if test="where.password != null">and password = #{where.password,jdbcType=VARCHAR}</if>
        <if test="where.salt != null">and salt = #{where.salt,jdbcType=VARCHAR}</if>
        <if test="where.name != null">and name = #{where.name,jdbcType=VARCHAR}</if>
        <if test="where.email != null">and email = #{where.email,jdbcType=VARCHAR}</if>
        <if test="where.telephone != null">and telephone = #{where.telephone,jdbcType=VARCHAR}</if>
        <if test="where.status != null">and status = #{where.status,jdbcType=TINYINT}</if>
        <if test="where.comment != null">and comment = #{where.comment,jdbcType=VARCHAR}</if>
        <if test="where.gmtCreated != null">and gmt_created = #{where.gmtCreated,jdbcType=TIMESTAMP}</if>
        <if test="where.gmtModified != null">and gmt_modified = #{where.gmtModified,jdbcType=TIMESTAMP}</if>
    </sql>
    <sql id="BatchUpdate_Set_From_Bean">
        <if test="item.roles != null">roles = #{item.roles,jdbcType=VARCHAR} ,</if>
        <if test="item.account != null">account = #{item.account,jdbcType=VARCHAR} ,</if>
        <if test="item.password != null">password = #{item.password,jdbcType=VARCHAR} ,</if>
        <if test="item.salt != null">salt = #{item.salt,jdbcType=VARCHAR} ,</if>
        <if test="item.name != null">name = #{item.name,jdbcType=VARCHAR} ,</if>
        <if test="item.email != null">email = #{item.email,jdbcType=VARCHAR} ,</if>
        <if test="item.telephone != null">telephone = #{item.telephone,jdbcType=VARCHAR} ,</if>
        <if test="item.status != null">status = #{item.status,jdbcType=TINYINT} ,</if>
        <if test="item.comment != null">comment = #{item.comment,jdbcType=VARCHAR} ,</if>
        <if test="item.gmtCreated != null">gmt_created = #{item.gmtCreated,jdbcType=TIMESTAMP} ,</if>
        <if test="item.gmtModified != null">gmt_modified = #{item.gmtModified,jdbcType=TIMESTAMP} ,</if>
    </sql>
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from ezrpt_member_user where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="delete" parameterType="java.util.Map">
        delete from ezrpt_member_user
        <where>
            <include refid="Select_Where_From_Map"/>
        </where>
    </delete>
    <delete id="deleteIn">
        delete from ezrpt_member_user where id in
        <foreach collection="records" item="item" index="index" open="(" separator="," close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </delete>
    <insert id="insert" parameterType="com.easytoolsoft.easyreport.data.metadata.po.Report">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into ezrpt_member_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Insert_Columns"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="Insert_Values"/>
        </trim>
    </insert>
    <insert id="batchInsert" parameterType="java.util.List">
        insert into ezrpt_member_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Base_Column_List"/>
        </trim>
        values
        <foreach collection="record" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <include refid="Batch_Insert_Values"/>
            </trim>
        </foreach>
    </insert>
    <select id="selectById" resultMap="UserMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_member_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="select" resultMap="UserMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_member_user
        <where>
            <include refid="Select_Where_From_Map"/>
        </where>
    </select>
    <select id="selectOne" resultMap="UserMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_member_user
        <where>
            <include refid="Select_Where_From_Map"/>
        </where>
        limit 1
    </select>
    <select id="selectIn" resultMap="UserMap" parameterType="java.util.List">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_member_user
        where id IN
        <foreach collection="record" item="item" index="index" open="(" separator="," close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </select>
    <update id="updateById" parameterType="com.easytoolsoft.easyreport.data.metadata.po.Report">
        update ezrpt_member_user
        <set>
            <include refid="Update_Set_From_Bean"/>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="update" parameterType="java.util.Map">
        update ezrpt_member_user
        <set>
            <include refid="Update_Set_From_Map"/>
        </set>
        <where>
            <include refid="Update_Where_From_Map"/>
        </where>
    </update>
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="records" item="item" index="index" open="" close="" separator=";">
            update ezrpt_member_user
            <include refid="BatchUpdate_Set_From_Bean"/>
            where id=#{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    <select id="countByPager" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*) as total from ezrpt_member_user
        <where>
            <if test="where.keyword != null">
                ${where.fieldName} LIKE CONCAT('%', #{where.keyword, jdbcType=VARCHAR},'%')
            </if>
        </where>
    </select>
    <select id="selectByPager" resultMap="UserMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_member_user
        <where>
            <if test="where.keyword != null">
                ${where.fieldName} LIKE CONCAT('%', #{where.keyword, jdbcType=VARCHAR},'%')
            </if>
        </where>
        <if test="pager.sortItem != null and pager.sortItem != '' ">
            order by ${pager.sortItem} ${pager.sortType}
        </if>
        limit #{pager.startIndex} , #{pager.pageSize}
    </select>
    <select id="count" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*) as total from ezrpt_member_user
        <where>
            <include refid="Select_Where_From_Map"/>
        </where>
    </select>
    <!-- My Custom Interfaces -->
</mapper>