<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easytoolsoft.easyreport.data.membership.dao.IUserDao">
    <!-- CodeBuilder  Generated-->
    <resultMap id="UserMap" type="com.easytoolsoft.easyreport.data.membership.po.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="roles" property="roles" jdbcType="VARCHAR"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="salt" property="salt" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="comment" property="comment" jdbcType="VARCHAR"/>
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Example_Where_Clause1">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Example_Where_Clause2">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List_Without_Id">
  	    roles ,account ,password ,salt ,name ,email ,telephone ,status ,comment ,gmt_created ,gmt_modified 	  </sql>
    <sql id="Base_Column_List">
        id ,
        <include refid="Base_Column_List_Without_Id"/>
    </sql>
    <sql id="Insert_Columns">
        <if test="roles != null">roles,</if>
        <if test="account != null">account,</if>
        <if test="password != null">password,</if>
        <if test="salt != null">salt,</if>
        <if test="name != null">name,</if>
        <if test="email != null">email,</if>
        <if test="telephone != null">telephone,</if>
        <if test="status != null">status,</if>
        <if test="comment != null">comment,</if>
        <if test="gmtCreated != null">gmt_created,</if>
        <if test="gmtModified != null">gmt_modified,</if>
    </sql>
    <sql id="Insert_Values">
        <if test="roles != null">#{roles,jdbcType=VARCHAR},</if>
        <if test="account != null">#{account,jdbcType=VARCHAR},</if>
        <if test="password != null">#{password,jdbcType=VARCHAR},</if>
        <if test="salt != null">#{salt,jdbcType=VARCHAR},</if>
        <if test="name != null">#{name,jdbcType=VARCHAR},</if>
        <if test="email != null">#{email,jdbcType=VARCHAR},</if>
        <if test="telephone != null">#{telephone,jdbcType=VARCHAR},</if>
        <if test="status != null">#{status,jdbcType=TINYINT},</if>
        <if test="comment != null">#{comment,jdbcType=VARCHAR},</if>
        <if test="gmtCreated != null">#{gmtCreated,jdbcType=TIMESTAMP},</if>
        <if test="gmtModified != null">#{gmtModified,jdbcType=TIMESTAMP},</if>
    </sql>
    <sql id="Batch_Insert_Values">
			 #{item.roles,jdbcType=VARCHAR},
			 #{item.account,jdbcType=VARCHAR},
			 #{item.password,jdbcType=VARCHAR},
			 #{item.salt,jdbcType=VARCHAR},
			 #{item.name,jdbcType=VARCHAR},
			 #{item.email,jdbcType=VARCHAR},
			 #{item.telephone,jdbcType=VARCHAR},
			 #{item.status,jdbcType=TINYINT},
			 #{item.comment,jdbcType=VARCHAR},
			 #{item.gmtCreated,jdbcType=TIMESTAMP},
			 #{item.gmtModified,jdbcType=TIMESTAMP}
    </sql>
    <sql id="Update_Set_From_Bean">
        <if test="roles != null">roles = #{roles,jdbcType=VARCHAR} ,</if>
        <if test="account != null">account = #{account,jdbcType=VARCHAR} ,</if>
        <if test="password != null">password = #{password,jdbcType=VARCHAR} ,</if>
        <if test="salt != null">salt = #{salt,jdbcType=VARCHAR} ,</if>
        <if test="name != null">name = #{name,jdbcType=VARCHAR} ,</if>
        <if test="email != null">email = #{email,jdbcType=VARCHAR} ,</if>
        <if test="telephone != null">telephone = #{telephone,jdbcType=VARCHAR} ,</if>
        <if test="status != null">status = #{status,jdbcType=TINYINT} ,</if>
        <if test="comment != null">comment = #{comment,jdbcType=VARCHAR} ,</if>
        <if test="gmtCreated != null">gmt_created = #{gmtCreated,jdbcType=TIMESTAMP} ,</if>
        <if test="gmtModified != null">gmt_modified = #{gmtModified,jdbcType=TIMESTAMP} ,</if>
    </sql>
    <sql id="Update_Set_From_Map">
        <if test="record.roles != null">roles = #{set.roles,jdbcType=VARCHAR} ,</if>
        <if test="record.account != null">account = #{set.account,jdbcType=VARCHAR} ,</if>
        <if test="record.password != null">password = #{set.password,jdbcType=VARCHAR} ,</if>
        <if test="record.salt != null">salt = #{set.salt,jdbcType=VARCHAR} ,</if>
        <if test="record.name != null">name = #{set.name,jdbcType=VARCHAR} ,</if>
        <if test="record.email != null">email = #{set.email,jdbcType=VARCHAR} ,</if>
        <if test="record.telephone != null">telephone = #{set.telephone,jdbcType=VARCHAR} ,</if>
        <if test="record.status != null">status = #{set.status,jdbcType=TINYINT} ,</if>
        <if test="record.comment != null">comment = #{set.comment,jdbcType=VARCHAR} ,</if>
        <if test="record.gmtCreated != null">gmt_created = #{set.gmtCreated,jdbcType=TIMESTAMP} ,</if>
        <if test="record.gmtModified != null">gmt_modified = #{set.gmtModified,jdbcType=TIMESTAMP} ,</if>
    </sql>
    <sql id="BatchUpdate_Set_From_Bean">
        ﻿roles = #{item.roles,jdbcType=VARCHAR} ,
		account = #{item.account,jdbcType=VARCHAR} ,
		password = #{item.password,jdbcType=VARCHAR} ,
		salt = #{item.salt,jdbcType=VARCHAR} ,
		name = #{item.name,jdbcType=VARCHAR} ,
		email = #{item.email,jdbcType=VARCHAR} ,
		telephone = #{item.telephone,jdbcType=VARCHAR} ,
		status = #{item.status,jdbcType=TINYINT} ,
		comment = #{item.comment,jdbcType=VARCHAR} ,
		gmt_created = #{item.gmtCreated,jdbcType=TIMESTAMP} ,
		gmt_modified = #{item.gmtModified,jdbcType=TIMESTAMP} 
    </sql>
    <!-- insert -->
    <insert id="insert" parameterType="com.easytoolsoft.easyreport.data.membership.po.User">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into ezrpt_member_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Insert_Columns"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="Insert_Values"/>
        </trim>
    </insert>
    <insert id="batchInsert" parameterType="java.util.List">
        insert into ezrpt_member_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Base_Column_List_Without_Id"/>
        </trim>
        values
        <foreach collection="list" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <include refid="Batch_Insert_Values"/>
            </trim>
        </foreach>
    </insert>
    <!-- end insert -->
    <!-- delete -->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from ezrpt_member_user where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.easytoolsoft.easyreport.data.membership.example.UserExample">
        delete from ezrpt_member_user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause1"/>
        </if>
    </delete>
    <delete id="deleteIn">
        delete from ezrpt_member_user where id in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </delete>
    <!-- end delete -->
    <!-- update -->
    <update id="updateById" parameterType="com.easytoolsoft.easyreport.data.membership.po.User">
        update ezrpt_member_user
        <set>
            <include refid="Update_Set_From_Bean"/>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="update" parameterType="java.util.Map">
        update ezrpt_member_user
        <set>
            <include refid="Update_Set_From_Map"/>
        </set>
        <if test="_parameter != null">
            <include refid="Example_Where_Clause2"/>
        </if>
    </update>
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update ezrpt_member_user
            <include refid="BatchUpdate_Set_From_Bean"/>
            where id=#{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    <!-- end update -->
    <!-- select -->
    <select id="selectById" resultMap="UserMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_member_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByExample" resultMap="UserMap"
            parameterType="com.easytoolsoft.easyreport.data.membership.example.UserExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from ezrpt_member_user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause1"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectOneByExample" resultMap="UserMap"
            parameterType="com.easytoolsoft.easyreport.data.membership.example.UserExample">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_member_user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause1"/>
        </if>
        limit 1
    </select>
    <select id="selectIn" resultMap="UserMap" parameterType="java.util.List">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_member_user
        where id IN
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </select>
    <select id="countByExample" resultType="java.lang.Integer"
            parameterType="com.easytoolsoft.easyreport.data.membership.example.UserExample">
        select count(*) as total from ezrpt_member_user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause1"/>
        </if>
    </select>
    <select id="countByPager" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*) as total from ezrpt_member_user
        <if test="example != null">
            <include refid="Example_Where_Clause2"/>
        </if>
    </select>
    <select id="selectByPager" resultMap="UserMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_member_user
        <if test="example != null">
            <include refid="Example_Where_Clause2"/>
        </if>
        <if test="pager.sortItem != null and pager.sortItem != '' ">
            order by ${pager.sortItem} ${pager.sortType}
        </if>
        limit #{pager.startIndex} , #{pager.pageSize}
    </select>
    <!-- end select -->
    <!-- My Custom Interfaces -->
</mapper>