html,body,span,div,p,table,td,th,tr {
	padding: 0px;
	margin: 0px;
	font-size: 11px;
	font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
}

* {
	font-size: 14px;
}

h3 {
	font-size: 20px;
	font-weight: bold;
	margin: 12px 0;
}

h4 {
	font-size: 16px;
	font-weight: bold;
	color: #CC0000;
	margin: 10px 0;
}

h5 {
	font-size: 14px;
	font-weight: bold;
	color: #990000;
	margin: 5px 0;
}

textarea.html, textarea.js {
	width: 100%;
	height: 80px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

#header {
	text-align: center;
	background: #666;
	direction: ltr;
}

#header-inner {
	text-align: left;
	margin: 0 auto;
	width: 960px;
	padding: 10px 0;
}

#mainwrap {
	text-align: center;
	margin-top: 5px;
}

#content {
	text-align: left;
	width: 960px;
	margin: 0 auto;
	padding: 10px;
	padding: 0;
	border-radius: 5px;
	border: 0;
	background: #fff;
}

#content img {
	margin: 0;
}

#footer {
	text-align: center;
	padding: 20px;
}

#topmenu {
	text-align: right;
}

#topmenu a {
	display: inline-block;
	padding: 1px 3px;
	text-decoration: none;
	color: #fff;
}

#topmenu a:hover {
	text-decoration: underline;
}

a.download-link {
	color: #0000ff;
}

.e-btn {
	display: inline-block;
	background: #6caef5;
	padding: 8px 15px;
	text-decoration: none;
	border-radius: 2px;
	color: #fff;
	transition-property: background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

.e-btn:hover {
	background: #3e8ddd;
	color: #fff;
}

.e-link {
	text-decoration: none;
	color: #126499;
}

.e-link:hover {
	text-decoration: underline;
	color: #0092C9;
}

.e-list li {
	list-style-type: circle;
	line-height: 22px;
}

.doc-table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

.doc-table th, .doc-table td {
	border: 1px solid #8CACBB;
	padding: 0.3em 0.7em;
}

.doc-table th {
	background: #eee;
}

.doc-table pre {
	font-family: Verdana;
	font-size: 12px;
	color: #006600;
	background: #fafafa;
	padding: 5px;
}

table.form-table {
	width: 100%;
}

.form-table {
	clear: both;
	border-collapse: collapse;
}

.form-table .text_r {
	text-align: right;
}

.form-table .text_center {
	text-align: center;
}

.form-table .blueside {
	background: #F6FAFD;
	font-weight: bold;
}

.form-table .top {
	vertical-align: top;
}

.form-table .bold {
	font-weight: bold;
}

.form-table .code {
	word-wrap: break-word;
	word-break: break-all;
	font-family: "Monaco", "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
}

.form-table tr th {
	text-align: left;
	padding: 2px;
	background: #E4F1FA;
	border: 1px solid #E5E6E8;
	font-size: 12px;
}

.form-table tr td {
	padding: 2px 0px 2px 2px;
	font-size: 12px;
	border: 1px solid #E5E6E8;
}

.form-table tr input, .form-table tr textarea {
	border: 1px solid #AEAEAE;
	height: 20px;
	line-height: 20px;
	overflow: auto;
	text-indent: 2px;
	font-family: "Monaco", "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
}