<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/task   
    http://www.springframework.org/schema/task/spring-task-3.0.xsd
    ">

    <!-- 引入属性文件 -->
    <context:property-placeholder location="classpath:config.properties" />

    <!-- 自动扫描dao和service包(自动注入) -->
    <context:component-scan base-package="com,cn" />
    
    <!-- 定时任务配置 实现方式1，利用spring自带的定时器
    <task:executor id="executor" pool-size="5" />   -->
    <!-- 声明一个具有10个线程的池，每一个对象将获取同样的运行机会
    <task:scheduler id="scheduler" pool-size="10" />   --> 
    <!--  定时器开关  开始
    <task:annotation-driven executor="executor" scheduler="scheduler" />-->
    <!--  定时器开关  结束-->
    <!--数据同步 -->
    <!--下面这种quartz定时器是为了实现人工对定时间的启用，停用，调用时间，和删除的操作  -->
<span style="color:#ff0000;"><!--实现方式二，利用 quartz实现定时器功能-->

<bean id="quartzManagerBean" class="com.framework.timer.QuartzManager">
        <property name="scheduler" ref="schedulerManager" />
    </bean>
    <bean id="quartzManagerJobDetail"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="quartzManagerBean" />
        <property name="targetMethod" value="reScheduleJob" />
        <property name="concurrent" value="false" />
    </bean>
    <!-- 主定时计划 -->
    <bean id="quartzManagerTrigger"
        class="org.springframework.scheduling.quartz.SimpleTriggerBean">
        <property name="jobDetail" ref="quartzManagerJobDetail" />
        <!-- 延时1分钟 执行任务 -->
        <property name="startDelay" value="300000" />
        <!-- 任务执行周期 5分钟 -->
        <property name="repeatInterval" value="60000" />
    </bean>
    <!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序  -->
    <bean id="schedulerManager" lazy-init="false" autowire="no"
        class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="quartzManagerTrigger" />
            </list>
        </property>
    </bean>
</beans></span>