<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="./logback.xsd">
    <!-- Output full logs to file -->
    <appender name="FILE_ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>@logging.file@</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}|%5p|%t|%c.%M:%L] %m%n</pattern>
            <charset>@logging.charset@</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>@logging.file.history@</fileNamePattern>
            <maxHistory>31</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- Output WARN, ERROR logs to file -->
    <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>@logging.file.err@</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}|%5p|%t|%c.%M:%L] %m%n</pattern>
            <charset>@logging.charset@</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>@logging.file.err.history@</fileNamePattern>
            <maxHistory>31</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!--direct log messages to stdout -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}|%highlight(%5p)|%t|%c{26}.%10M:%3L]%m%n</pattern>
            <charset>@logging.charset@</charset>
        </encoder>
    </appender>

    <logger name="com.easytoolsoft" level="@logging.level.com.easytoolsoft@"/>
    <logger name="com.easytoolsoft.easyreport" level="@logging.level.com.easytoolsoft.easyreport@"/>
    <logger name="org.mybatis" level="@logging.level.org.mybatis@"/>

    <root level="@logging.level.root@">
        <appender-ref ref="FILE_ALL"/>
        <appender-ref ref="FILE_ERROR"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>