<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="./logback.xsd">
    <!-- Output full logs to file -->
    <appender name="FILE_ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${easyreport.log.file}</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}|%5p|%8.8t|%c.%M:%L] %m%n</pattern>
            <charset>${easyreport.log.charset.file}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${easyreport.log.file.history}</fileNamePattern>
            <maxHistory>31</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- Output WARN, ERROR logs to file -->
    <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${easyreport.log.file.err}</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}|%5p|%8.8t|%c.%M:%L] %m%n</pattern>
            <charset>${easyreport.log.charset.file}</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${easyreport.log.file.err.history}</fileNamePattern>
            <maxHistory>31</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!--direct log messages to stdout -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}|%5p|%8.8t|%30.30c.%10M:%3L]%m%n</pattern>
            <charset>${easyreport.log.charset.console}</charset>
        </encoder>
    </appender>
    
    <logger name="com.easytoolsoft" level="${easyreport.log.level.easyreport}" />
    <logger name="com.easytoolsoft.easyreport.dao" level="${easyreport.log.level.db}" />
    <logger name="org.mybatis" level="${easyreport.log.level.db}" />

    <root level="${easyreport.log.level.root}">
        <appender-ref ref="FILE_ALL" />
        <appender-ref ref="FILE_ERROR" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>