<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easytoolsoft.easyreport.data.metadata.dao.IDataSourceDao">
    <!-- CodeBuilder  Generated-->
    <resultMap id="DataSourceMap" type="com.easytoolsoft.easyreport.data.metadata.po.DataSource">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="driver_class" property="driverClass" jdbcType="VARCHAR"/>
        <result column="jdbc_url" property="jdbcUrl" jdbcType="VARCHAR"/>
        <result column="user" property="user" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="options" property="options" jdbcType="VARCHAR"/>
        <result column="comment" property="comment" jdbcType="VARCHAR"/>
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Example_Where_Clause1">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Example_Where_Clause2">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List_Without_Id">
  	   uid ,name ,driver_class ,jdbc_url ,user ,password ,options ,comment ,gmt_created ,gmt_modified 	  </sql>
    <sql id="Base_Column_List">
        id ,
        <include refid="Base_Column_List_Without_Id"/>
    </sql>
    <sql id="Insert_Columns">
        <if test="uid != null">uid,</if>
        <if test="name != null">name,</if>
        <if test="driverClass != null">driver_class,</if>
        <if test="jdbcUrl != null">jdbc_url,</if>
        <if test="user != null">user,</if>
        <if test="password != null">password,</if>
        <if test="options != null">options,</if>
        <if test="comment != null">comment,</if>
        <if test="gmtCreated != null">gmt_created,</if>
        <if test="gmtModified != null">gmt_modified,</if>
    </sql>
    <sql id="Insert_Values">
        <if test="uid != null">#{uid,jdbcType=VARCHAR},</if>
        <if test="name != null">#{name,jdbcType=VARCHAR},</if>
        <if test="driverClass != null">#{driverClass,jdbcType=VARCHAR},</if>
        <if test="jdbcUrl != null">#{jdbcUrl,jdbcType=VARCHAR},</if>
        <if test="user != null">#{user,jdbcType=VARCHAR},</if>
        <if test="password != null">#{password,jdbcType=VARCHAR},</if>
        <if test="options != null">#{options,jdbcType=VARCHAR},</if>
        <if test="comment != null">#{comment,jdbcType=VARCHAR},</if>
        <if test="gmtCreated != null">#{gmtCreated,jdbcType=TIMESTAMP},</if>
        <if test="gmtModified != null">#{gmtModified,jdbcType=TIMESTAMP},</if>
    </sql>
    <sql id="Batch_Insert_Values">
        #{item.uid,jdbcType=VARCHAR},
        #{item.name,jdbcType=VARCHAR},
        #{item.driverClass,jdbcType=VARCHAR},
        #{item.jdbcUrl,jdbcType=VARCHAR},
        #{item.user,jdbcType=VARCHAR},
        #{item.password,jdbcType=VARCHAR},
        #{item.options,jdbcType=VARCHAR},
        #{item.comment,jdbcType=VARCHAR},
        #{item.gmtCreated,jdbcType=TIMESTAMP},
        #{item.gmtModified,jdbcType=TIMESTAMP}
    </sql>
    <sql id="Update_Set_From_Bean">
        <if test="uid != null">uid = #{uid,jdbcType=VARCHAR} ,</if>
        <if test="name != null">name = #{name,jdbcType=VARCHAR} ,</if>
        <if test="driverClass != null">driver_class = #{driverClass,jdbcType=VARCHAR} ,</if>
        <if test="jdbcUrl != null">jdbc_url = #{jdbcUrl,jdbcType=VARCHAR} ,</if>
        <if test="user != null">user = #{user,jdbcType=VARCHAR} ,</if>
        <if test="password != null">password = #{password,jdbcType=VARCHAR} ,</if>
        <if test="options != null">options = #{options,jdbcType=VARCHAR} ,</if>
        <if test="comment != null">comment = #{comment,jdbcType=VARCHAR} ,</if>
        <if test="gmtCreated != null">gmt_created = #{gmtCreated,jdbcType=TIMESTAMP} ,</if>
        <if test="gmtModified != null">gmt_modified = #{gmtModified,jdbcType=TIMESTAMP} ,</if>
    </sql>
    <sql id="Update_Set_From_Map">
        <if test="record.uid != null">uid = #{set.uid,jdbcType=VARCHAR} ,</if>
        <if test="record.name != null">name = #{set.name,jdbcType=VARCHAR} ,</if>
        <if test="record.driverClass != null">driver_class = #{set.driverClass,jdbcType=VARCHAR} ,</if>
        <if test="record.jdbcUrl != null">jdbc_url = #{set.jdbcUrl,jdbcType=VARCHAR} ,</if>
        <if test="record.user != null">user = #{set.user,jdbcType=VARCHAR} ,</if>
        <if test="record.password != null">password = #{set.password,jdbcType=VARCHAR} ,</if>
        <if test="record.options != null">options = #{set.options,jdbcType=VARCHAR} ,</if>
        <if test="record.comment != null">comment = #{set.comment,jdbcType=VARCHAR} ,</if>
        <if test="record.gmtCreated != null">gmt_created = #{set.gmtCreated,jdbcType=TIMESTAMP} ,</if>
        <if test="record.gmtModified != null">gmt_modified = #{set.gmtModified,jdbcType=TIMESTAMP} ,</if>
    </sql>
    <sql id="BatchUpdate_Set_From_Bean">
        ﻿uid = #{item.uid,jdbcType=VARCHAR} ,
        name = #{item.name,jdbcType=VARCHAR} ,
        driver_class = #{item.driverClass,jdbcType=VARCHAR} ,
        jdbc_url = #{item.jdbcUrl,jdbcType=VARCHAR} ,
        user = #{item.user,jdbcType=VARCHAR} ,
        password = #{item.password,jdbcType=VARCHAR} ,
        options = #{item.options,jdbcType=VARCHAR} ,
        comment = #{item.comment,jdbcType=VARCHAR} ,
        gmt_created = #{item.gmtCreated,jdbcType=TIMESTAMP} ,
        gmt_modified = #{item.gmtModified,jdbcType=TIMESTAMP}
    </sql>
    <!-- insert -->
    <insert id="insert" parameterType="com.easytoolsoft.easyreport.data.metadata.po.DataSource">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into ezrpt_meta_datasource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Insert_Columns"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="Insert_Values"/>
        </trim>
    </insert>
    <insert id="batchInsert" parameterType="java.util.List">
        insert into ezrpt_meta_datasource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Base_Column_List_Without_Id"/>
        </trim>
        values
        <foreach collection="list" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <include refid="Batch_Insert_Values"/>
            </trim>
        </foreach>
    </insert>
    <!-- end insert -->
    <!-- delete -->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from ezrpt_meta_datasource where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.easytoolsoft.easyreport.data.metadata.example.DataSourceExample">
        delete from ezrpt_meta_datasource
        <if test="_parameter != null">
            <include refid="Example_Where_Clause1"/>
        </if>
    </delete>
    <delete id="deleteIn">
        delete from ezrpt_meta_datasource where id in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </delete>
    <!-- end delete -->
    <!-- update -->
    <update id="updateById" parameterType="com.easytoolsoft.easyreport.data.metadata.po.DataSource">
        update ezrpt_meta_datasource
        <set>
            <include refid="Update_Set_From_Bean"/>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="update" parameterType="java.util.Map">
        update ezrpt_meta_datasource
        <set>
            <include refid="Update_Set_From_Map"/>
        </set>
        <if test="_parameter != null">
            <include refid="Example_Where_Clause2"/>
        </if>
    </update>
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update ezrpt_meta_datasource
            <include refid="BatchUpdate_Set_From_Bean"/>
            where id=#{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    <!-- end update -->
    <!-- select -->
    <select id="selectById" resultMap="DataSourceMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_meta_datasource
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByExample" resultMap="DataSourceMap"
            parameterType="com.easytoolsoft.easyreport.data.metadata.example.DataSourceExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from ezrpt_meta_datasource
        <if test="_parameter != null">
            <include refid="Example_Where_Clause1"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectOneByExample" resultMap="DataSourceMap"
            parameterType="com.easytoolsoft.easyreport.data.metadata.example.DataSourceExample">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_meta_datasource
        <if test="_parameter != null">
            <include refid="Example_Where_Clause1"/>
        </if>
        limit 1
    </select>
    <select id="selectIn" resultMap="DataSourceMap" parameterType="java.util.List">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_meta_datasource
        where id IN
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </select>
    <select id="countByExample" resultType="java.lang.Integer"
            parameterType="com.easytoolsoft.easyreport.data.metadata.example.DataSourceExample">
        select count(*) as total from ezrpt_meta_datasource
        <if test="_parameter != null">
            <include refid="Example_Where_Clause1"/>
        </if>
    </select>
    <select id="countByPager" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*) as total from ezrpt_meta_datasource
        <if test="example != null">
            <include refid="Example_Where_Clause2"/>
        </if>
    </select>
    <select id="selectByPager" resultMap="DataSourceMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_meta_datasource
        <if test="example != null">
            <include refid="Example_Where_Clause2"/>
        </if>
        <if test="pager.sortItem != null and pager.sortItem != '' ">
            order by ${pager.sortItem} ${pager.sortType}
        </if>
        limit #{pager.startIndex} , #{pager.pageSize}
    </select>
    <!-- end select -->
    <!-- My Custom Interfaces -->
</mapper>