<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easytoolsoft.easyreport.data.metadata.dao.IReportHistoryDao">
    <!-- CodeBuilder  Generated-->
    <resultMap id="ReportHistoryMap" type="com.easytoolsoft.easyreport.data.metadata.po.ReportHistory">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="report_id" property="reportId" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="VARCHAR"/>
        <result column="category_id" property="categoryId" jdbcType="INTEGER"/>
        <result column="ds_id" property="dsId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="sql_text" property="sqlText" jdbcType="LONGVARCHAR"/>
        <result column="﻿metaColumns" property="﻿meta_columns" jdbcType="LONGVARCHAR"/>
        <result column="query_params" property="queryParams" jdbcType="LONGVARCHAR"/>
        <result column="options" property="options" jdbcType="LONGVARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="sequence" property="sequence" jdbcType="INTEGER"/>
        <result column="comment" property="comment" jdbcType="VARCHAR"/>
        <result column="author" property="author" jdbcType="VARCHAR"/>
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id , report_id , uid , category_id , ds_id , name , sql_text , ﻿meta_columns , query_params ,
        options , path , status, sequence , comment , author , gmt_created , gmt_modified
    </sql>
    <sql id="Insert_Columns">
        <if test="reportId != null">report_id,</if>
        <if test="uid != null">uid,</if>
        <if test="categoryId != null">category_id,</if>
        <if test="dsId != null">ds_id,</if>
        <if test="name != null">name,</if>
        <if test="sqlText != null">sql_text,</if>
        <if test="﻿metaColumns != null">﻿meta_columns,</if>
        <if test="queryParams != null">query_params,</if>
        <if test="options != null">options,</if>
        <if test="path != null">path,</if>
        <if test="status != null">status,</if>
        <if test="sequence != null">sequence,</if>
        <if test="comment != null">comment,</if>
        <if test="author != null">author,</if>
        <if test="gmtCreated != null">gmt_created,</if>
        <if test="gmtModified != null">gmt_modified,</if>
    </sql>
    <sql id="Insert_Values">
        <if test="reportId != null">#{reportId,jdbcType=INTEGER},</if>
        <if test="uid != null">#{uid,jdbcType=VARCHAR},</if>
        <if test="categoryId != null">#{categoryId,jdbcType=INTEGER},</if>
        <if test="dsId != null">#{dsId,jdbcType=INTEGER},</if>
        <if test="name != null">#{name,jdbcType=VARCHAR},</if>
        <if test="sqlText != null">#{sqlText,jdbcType=LONGVARCHAR},</if>
        <if test="﻿metaColumns != null">#{﻿metaColumns,jdbcType=LONGVARCHAR},</if>
        <if test="queryParams != null">#{queryParams,jdbcType=LONGVARCHAR},</if>
        <if test="options != null">#{options,jdbcType=LONGVARCHAR},</if>
        <if test="path != null">#{path,jdbcType=VARCHAR},</if>
        <if test="status != null">#{status,jdbcType=INTEGER},</if>
        <if test="sequence != null">#{sequence,jdbcType=INTEGER},</if>
        <if test="comment != null">#{comment,jdbcType=VARCHAR},</if>
        <if test="author != null">#{author,jdbcType=VARCHAR},</if>
        <if test="gmtCreated != null">#{gmtCreated,jdbcType=TIMESTAMP},</if>
        <if test="gmtModified != null">#{gmtModified,jdbcType=TIMESTAMP},</if>
    </sql>
    <sql id="Batch_Insert_Values">
        <if test="id != null">#{id,jdbcType=INTEGER},</if>
        <if test="reportId != null">#{reportId,jdbcType=INTEGER},</if>
        <if test="uid != null">#{uid,jdbcType=VARCHAR},</if>
        <if test="categoryId != null">#{categoryId,jdbcType=INTEGER},</if>
        <if test="dsId != null">#{dsId,jdbcType=INTEGER},</if>
        <if test="name != null">#{name,jdbcType=VARCHAR},</if>
        <if test="sqlText != null">#{sqlText,jdbcType=LONGVARCHAR},</if>
        <if test="﻿metaColumns != null">#{﻿metaColumns,jdbcType=LONGVARCHAR},</if>
        <if test="queryParams != null">#{queryParams,jdbcType=LONGVARCHAR},</if>
        <if test="options != null">#{options,jdbcType=LONGVARCHAR},</if>
        <if test="path != null">#{path,jdbcType=VARCHAR},</if>
        <if test="status != null">#{status,jdbcType=INTEGER},</if>
        <if test="sequence != null">#{sequence,jdbcType=INTEGER},</if>
        <if test="comment != null">#{comment,jdbcType=VARCHAR},</if>
        <if test="author != null">#{author,jdbcType=VARCHAR},</if>
        <if test="gmtCreated != null">#{gmtCreated,jdbcType=TIMESTAMP},</if>
        <if test="gmtModified != null">#{gmtModified,jdbcType=TIMESTAMP},</if>
    </sql>
    <sql id="Select_Where_From_Map">
        <if test="id != null">and id = #{id,jdbcType=INTEGER}</if>
        <if test="reportId != null">and report_id = #{reportId,jdbcType=INTEGER}</if>
        <if test="uid != null">and uid = #{uid,jdbcType=VARCHAR}</if>
        <if test="categoryId != null">and category_id = #{categoryId,jdbcType=INTEGER}</if>
        <if test="dsId != null">and ds_id = #{dsId,jdbcType=INTEGER}</if>
        <if test="name != null">and name = #{name,jdbcType=VARCHAR}</if>
        <if test="sqlText != null">and sql_text = #{sqlText,jdbcType=LONGVARCHAR}</if>
        <if test="﻿metaColumns != null">and ﻿meta_columns = #{﻿metaColumns,jdbcType=LONGVARCHAR}</if>
        <if test="queryParams != null">and query_params = #{queryParams,jdbcType=LONGVARCHAR}</if>
        <if test="options != null">and options = #{options,jdbcType=LONGVARCHAR}</if>
        <if test="path != null">and path = #{path,jdbcType=VARCHAR}</if>
        <if test="status != null">and status = #{status,jdbcType=INTEGER}</if>
        <if test="sequence != null">and sequence = #{sequence,jdbcType=INTEGER}</if>
        <if test="comment != null">and comment = #{comment,jdbcType=VARCHAR}</if>
        <if test="author != null">and author = #{author,jdbcType=VARCHAR}</if>
        <if test="gmtCreated != null">and gmt_created = #{gmtCreated,jdbcType=TIMESTAMP}</if>
        <if test="gmtModified != null">and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}</if>
    </sql>
    <sql id="Update_Set_From_Bean">
        <if test="reportId != null">report_id = #{reportId,jdbcType=INTEGER} ,</if>
        <if test="uid != null">uid = #{uid,jdbcType=VARCHAR} ,</if>
        <if test="categoryId != null">category_id = #{categoryId,jdbcType=INTEGER} ,</if>
        <if test="dsId != null">ds_id = #{dsId,jdbcType=INTEGER} ,</if>
        <if test="name != null">name = #{name,jdbcType=VARCHAR} ,</if>
        <if test="sqlText != null">sql_text = #{sqlText,jdbcType=LONGVARCHAR} ,</if>
        <if test="﻿metaColumns != null">﻿meta_columns = #{﻿metaColumns,jdbcType=LONGVARCHAR} ,</if>
        <if test="queryParams != null">query_params = #{queryParams,jdbcType=LONGVARCHAR} ,</if>
        <if test="options != null">options = #{options,jdbcType=LONGVARCHAR} ,</if>
        <if test="path != null">path = #{path,jdbcType=VARCHAR} ,</if>
        <if test="status != null">status = #{status,jdbcType=INTEGER} ,</if>
        <if test="sequence != null">sequence = #{sequence,jdbcType=INTEGER} ,</if>
        <if test="comment != null">comment = #{comment,jdbcType=VARCHAR} ,</if>
        <if test="author != null">author = #{author,jdbcType=VARCHAR} ,</if>
        <if test="gmtCreated != null">gmt_created = #{gmtCreated,jdbcType=TIMESTAMP} ,</if>
        <if test="gmtModified != null">gmt_modified = #{gmtModified,jdbcType=TIMESTAMP} ,</if>
    </sql>
    <sql id="Update_Set_From_Map">
        <if test="set.reportId != null">report_id = #{set.reportId,jdbcType=INTEGER} ,</if>
        <if test="set.uid != null">uid = #{set.uid,jdbcType=VARCHAR} ,</if>
        <if test="set.categoryId != null">category_id = #{set.categoryId,jdbcType=INTEGER} ,</if>
        <if test="set.dsId != null">ds_id = #{set.dsId,jdbcType=INTEGER} ,</if>
        <if test="set.name != null">name = #{set.name,jdbcType=VARCHAR} ,</if>
        <if test="set.sqlText != null">sql_text = #{set.sqlText,jdbcType=LONGVARCHAR} ,</if>
        <if test="set.﻿metaColumns != null">﻿meta_columns = #{set.﻿metaColumns,jdbcType=LONGVARCHAR} ,</if>
        <if test="set.queryParams != null">query_params = #{set.queryParams,jdbcType=LONGVARCHAR} ,</if>
        <if test="set.options != null">options = #{set.options,jdbcType=LONGVARCHAR} ,</if>
        <if test="set.path != null">path = #{set.path,jdbcType=VARCHAR} ,</if>
        <if test="set.status != null">status = #{set.status,jdbcType=INTEGER} ,</if>
        <if test="set.sequence != null">sequence = #{set.sequence,jdbcType=INTEGER} ,</if>
        <if test="set.comment != null">comment = #{set.comment,jdbcType=VARCHAR} ,</if>
        <if test="set.author != null">author = #{set.author,jdbcType=VARCHAR} ,</if>
        <if test="set.gmtCreated != null">gmt_created = #{set.gmtCreated,jdbcType=TIMESTAMP} ,</if>
        <if test="set.gmtModified != null">gmt_modified = #{set.gmtModified,jdbcType=TIMESTAMP} ,</if>
    </sql>
    <sql id="Update_Where_From_Map">
        <if test="where.id != null">and id = #{where.id,jdbcType=INTEGER}</if>
        <if test="where.reportId != null">and report_id = #{where.reportId,jdbcType=INTEGER}</if>
        <if test="where.uid != null">and uid = #{where.uid,jdbcType=VARCHAR}</if>
        <if test="where.categoryId != null">and category_id = #{where.categoryId,jdbcType=INTEGER}</if>
        <if test="where.dsId != null">and ds_id = #{where.dsId,jdbcType=INTEGER}</if>
        <if test="where.name != null">and name = #{where.name,jdbcType=VARCHAR}</if>
        <if test="where.sqlText != null">and sql_text = #{where.sqlText,jdbcType=LONGVARCHAR}</if>
        <if test="where.﻿metaColumns != null">and ﻿meta_columns = #{where.﻿metaColumns,jdbcType=LONGVARCHAR}</if>
        <if test="where.queryParams != null">and query_params = #{where.queryParams,jdbcType=LONGVARCHAR}</if>
        <if test="where.options != null">and options = #{where.options,jdbcType=LONGVARCHAR}</if>
        <if test="where.path != null">and path = #{where.path,jdbcType=VARCHAR}</if>
        <if test="where.status != null">and status = #{where.status,jdbcType=INTEGER}</if>
        <if test="where.sequence != null">and sequence = #{where.sequence,jdbcType=INTEGER}</if>
        <if test="where.comment != null">and comment = #{where.comment,jdbcType=VARCHAR}</if>
        <if test="where.author != null">and author = #{where.author,jdbcType=VARCHAR}</if>
        <if test="where.gmtCreated != null">and gmt_created = #{where.gmtCreated,jdbcType=TIMESTAMP}</if>
        <if test="where.gmtModified != null">and gmt_modified = #{where.gmtModified,jdbcType=TIMESTAMP}</if>
    </sql>
    <sql id="BatchUpdate_Set_From_Bean">
        <if test="item.reportId != null">report_id = #{item.reportId,jdbcType=INTEGER} ,</if>
        <if test="item.uid != null">uid = #{item.uid,jdbcType=VARCHAR} ,</if>
        <if test="item.categoryId != null">category_id = #{item.categoryId,jdbcType=INTEGER} ,</if>
        <if test="item.dsId != null">ds_id = #{item.dsId,jdbcType=INTEGER} ,</if>
        <if test="item.name != null">name = #{item.name,jdbcType=VARCHAR} ,</if>
        <if test="item.sqlText != null">sql_text = #{item.sqlText,jdbcType=LONGVARCHAR} ,</if>
        <if test="item.﻿metaColumns != null">﻿meta_columns = #{item.﻿metaColumns,jdbcType=LONGVARCHAR} ,</if>
        <if test="item.queryParams != null">query_params = #{item.queryParams,jdbcType=LONGVARCHAR} ,</if>
        <if test="item.options != null">options = #{item.options,jdbcType=LONGVARCHAR} ,</if>
        <if test="item.path != null">path = #{item.path,jdbcType=VARCHAR} ,</if>
        <if test="item.status != null">status = #{item.status,jdbcType=INTEGER} ,</if>
        <if test="item.sequence != null">sequence = #{item.sequence,jdbcType=INTEGER} ,</if>
        <if test="item.comment != null">comment = #{item.comment,jdbcType=VARCHAR} ,</if>
        <if test="item.author != null">author = #{item.author,jdbcType=VARCHAR} ,</if>
        <if test="item.gmtCreated != null">gmt_created = #{item.gmtCreated,jdbcType=TIMESTAMP} ,</if>
        <if test="item.gmtModified != null">gmt_modified = #{item.gmtModified,jdbcType=TIMESTAMP} ,</if>
    </sql>
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from ezrpt_meta_report_history where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="delete" parameterType="java.util.Map">
        delete from ezrpt_meta_report_history
        <where>
            <include refid="Select_Where_From_Map"/>
        </where>
    </delete>
    <delete id="deleteIn">
        delete from ezrpt_meta_report_history where id in
        <foreach collection="records" item="item" index="index" open="(" separator="," close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </delete>
    <insert id="insert" parameterType="com.easytoolsoft.easyreport.data.metadata.po.Report">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into ezrpt_meta_report_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Insert_Columns"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="Insert_Values"/>
        </trim>
    </insert>
    <insert id="batchInsert" parameterType="java.util.List">
        insert into ezrpt_meta_report_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Base_Column_List"/>
        </trim>
        values
        <foreach collection="record" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <include refid="Batch_Insert_Values"/>
            </trim>
        </foreach>
    </insert>
    <select id="selectById" resultMap="ReportHistoryMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_meta_report_history
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="select" resultMap="ReportHistoryMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_meta_report_history
        <where>
            <include refid="Select_Where_From_Map"/>
        </where>
    </select>
    <select id="selectOne" resultMap="ReportHistoryMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_meta_report_history
        <where>
            <include refid="Select_Where_From_Map"/>
        </where>
        limit 1
    </select>
    <select id="selectIn" resultMap="ReportHistoryMap" parameterType="java.util.List">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_meta_report_history
        where id IN
        <foreach collection="record" item="item" index="index" open="(" separator="," close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </select>
    <update id="updateById" parameterType="com.easytoolsoft.easyreport.data.metadata.po.Report">
        update ezrpt_meta_report_history
        <set>
            <include refid="Update_Set_From_Bean"/>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="update" parameterType="java.util.Map">
        update ezrpt_meta_report_history
        <set>
            <include refid="Update_Set_From_Map"/>
        </set>
        <where>
            <include refid="Update_Where_From_Map"/>
        </where>
    </update>
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="records" item="item" index="index" open="" close="" separator=";">
            update ezrpt_meta_report_history
            <include refid="BatchUpdate_Set_From_Bean"/>
            where id=#{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    <select id="countByPager" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*) as total from ezrpt_meta_report_history
        <where>
            <if test="where.keyword != null">
                ${where.fieldName} LIKE CONCAT('%', #{where.keyword, jdbcType=VARCHAR},'%')
            </if>
        </where>
    </select>
    <select id="selectByPager" resultMap="ReportHistoryMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_meta_report_history
        <where>
            <if test="where.keyword != null">
                ${where.fieldName} LIKE CONCAT('%', #{where.keyword, jdbcType=VARCHAR},'%')
            </if>
        </where>
        <if test="pager.sortItem != null and pager.sortItem != '' ">
            order by ${pager.sortItem} ${pager.sortType}
        </if>
        limit #{pager.startIndex} , #{pager.pageSize}
    </select>
    <select id="count" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*) as total from ezrpt_meta_report_history
        <where>
            <include refid="Select_Where_From_Map"/>
        </where>
    </select>
    <!-- My Custom Interfaces -->
</mapper>