<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easytoolsoft.easyreport.data.metadata.dao.IReportDao">
    <!-- CodeBuilder  Generated-->
    <resultMap id="ReportMap" type="com.easytoolsoft.easyreport.data.metadata.po.Report">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="VARCHAR"/>
        <result column="category_id" property="categoryId" jdbcType="INTEGER"/>
        <result column="ds_id" property="dsId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="sql_text" property="sqlText" jdbcType="LONGVARCHAR"/>
        <result column="meta_columns" property="metaColumns" jdbcType="LONGVARCHAR"/>
        <result column="query_params" property="queryParams" jdbcType="LONGVARCHAR"/>
        <result column="options" property="options" jdbcType="LONGVARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="sequence" property="sequence" jdbcType="INTEGER"/>
        <result column="comment" property="comment" jdbcType="VARCHAR"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Example_Where_Clause1">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Example_Where_Clause2">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List_Without_Id">
  	  uid ,category_id ,ds_id ,name ,sql_text ,meta_columns ,query_params ,options ,path ,status ,sequence ,comment ,create_user ,gmt_created ,gmt_modified
    </sql>
    <sql id="Base_Column_List">
        id ,
        <include refid="Base_Column_List_Without_Id"/>
    </sql>
    <sql id="Insert_Columns">
        <if test="uid != null">uid,</if>
        <if test="categoryId != null">category_id,</if>
        <if test="dsId != null">ds_id,</if>
        <if test="name != null">name,</if>
        <if test="sqlText != null">sql_text,</if>
        <if test="metaColumns != null">meta_columns,</if>
        <if test="queryParams != null">query_params,</if>
        <if test="options != null">options,</if>
        <if test="path != null">path,</if>
        <if test="status != null">status,</if>
        <if test="sequence != null">sequence,</if>
        <if test="comment != null">comment,</if>
        <if test="createUser != null">create_user,</if>
        <if test="gmtCreated != null">gmt_created,</if>
        <if test="gmtModified != null">gmt_modified,</if>
    </sql>
    <sql id="Insert_Values">
        <if test="uid != null">#{uid,jdbcType=VARCHAR},</if>
        <if test="categoryId != null">#{categoryId,jdbcType=INTEGER},</if>
        <if test="dsId != null">#{dsId,jdbcType=INTEGER},</if>
        <if test="name != null">#{name,jdbcType=VARCHAR},</if>
        <if test="sqlText != null">#{sqlText,jdbcType=LONGVARCHAR},</if>
        <if test="metaColumns != null">#{metaColumns,jdbcType=LONGVARCHAR},</if>
        <if test="queryParams != null">#{queryParams,jdbcType=LONGVARCHAR},</if>
        <if test="options != null">#{options,jdbcType=LONGVARCHAR},</if>
        <if test="path != null">#{path,jdbcType=VARCHAR},</if>
        <if test="status != null">#{status,jdbcType=INTEGER},</if>
        <if test="sequence != null">#{sequence,jdbcType=INTEGER},</if>
        <if test="comment != null">#{comment,jdbcType=VARCHAR},</if>
        <if test="createUser != null">#{createUser,jdbcType=VARCHAR},</if>
        <if test="gmtCreated != null">#{gmtCreated,jdbcType=TIMESTAMP},</if>
        <if test="gmtModified != null">#{gmtModified,jdbcType=TIMESTAMP},</if>
    </sql>
    <sql id="Batch_Insert_Values">
        #{item.uid,jdbcType=VARCHAR},
        #{item.categoryId,jdbcType=INTEGER},
        #{item.dsId,jdbcType=INTEGER},
        #{item.name,jdbcType=VARCHAR},
        #{item.sqlText,jdbcType=LONGVARCHAR},
        #{item.metaColumns,jdbcType=LONGVARCHAR},
        #{item.queryParams,jdbcType=LONGVARCHAR},
        #{item.options,jdbcType=LONGVARCHAR},
        #{item.path,jdbcType=VARCHAR},
        #{item.status,jdbcType=INTEGER},
        #{item.sequence,jdbcType=INTEGER},
        #{item.comment,jdbcType=VARCHAR},
        #{item.createUser,jdbcType=VARCHAR},
        #{item.gmtCreated,jdbcType=TIMESTAMP},
        #{item.gmtModified,jdbcType=TIMESTAMP}
    </sql>
    <sql id="Update_Set_From_Bean">
        <if test="uid != null">uid = #{uid,jdbcType=VARCHAR} ,</if>
        <if test="categoryId != null">category_id = #{categoryId,jdbcType=INTEGER} ,</if>
        <if test="dsId != null">ds_id = #{dsId,jdbcType=INTEGER} ,</if>
        <if test="name != null">name = #{name,jdbcType=VARCHAR} ,</if>
        <if test="sqlText != null">sql_text = #{sqlText,jdbcType=LONGVARCHAR} ,</if>
        <if test="metaColumns != null">meta_columns = #{metaColumns,jdbcType=LONGVARCHAR} ,</if>
        <if test="queryParams != null">query_params = #{queryParams,jdbcType=LONGVARCHAR} ,</if>
        <if test="options != null">options = #{options,jdbcType=LONGVARCHAR} ,</if>
        <if test="path != null">path = #{path,jdbcType=VARCHAR} ,</if>
        <if test="status != null">status = #{status,jdbcType=INTEGER} ,</if>
        <if test="sequence != null">sequence = #{sequence,jdbcType=INTEGER} ,</if>
        <if test="comment != null">comment = #{comment,jdbcType=VARCHAR} ,</if>
        <if test="createUser != null">create_user = #{createUser,jdbcType=VARCHAR} ,</if>
        <if test="gmtCreated != null">gmt_created = #{gmtCreated,jdbcType=TIMESTAMP} ,</if>
        <if test="gmtModified != null">gmt_modified = #{gmtModified,jdbcType=TIMESTAMP} ,</if>
    </sql>
    <sql id="Update_Set_From_Map">
        <if test="record.uid != null">uid = #{set.uid,jdbcType=VARCHAR} ,</if>
        <if test="record.categoryId != null">category_id = #{set.categoryId,jdbcType=INTEGER} ,</if>
        <if test="record.dsId != null">ds_id = #{set.dsId,jdbcType=INTEGER} ,</if>
        <if test="record.name != null">name = #{set.name,jdbcType=VARCHAR} ,</if>
        <if test="record.sqlText != null">sql_text = #{set.sqlText,jdbcType=LONGVARCHAR} ,</if>
        <if test="record.metaColumns != null">meta_columns = #{set.metaColumns,jdbcType=LONGVARCHAR} ,</if>
        <if test="record.queryParams != null">query_params = #{set.queryParams,jdbcType=LONGVARCHAR} ,</if>
        <if test="record.options != null">options = #{set.options,jdbcType=LONGVARCHAR} ,</if>
        <if test="record.path != null">path = #{set.path,jdbcType=VARCHAR} ,</if>
        <if test="record.status != null">status = #{set.status,jdbcType=INTEGER} ,</if>
        <if test="record.sequence != null">sequence = #{set.sequence,jdbcType=INTEGER} ,</if>
        <if test="record.comment != null">comment = #{set.comment,jdbcType=VARCHAR} ,</if>
        <if test="record.createUser != null">create_user = #{set.createUser,jdbcType=VARCHAR} ,</if>
        <if test="record.gmtCreated != null">gmt_created = #{set.gmtCreated,jdbcType=TIMESTAMP} ,</if>
        <if test="record.gmtModified != null">gmt_modified = #{set.gmtModified,jdbcType=TIMESTAMP} ,</if>
    </sql>
    <sql id="BatchUpdate_Set_From_Bean">
        ﻿uid = #{item.uid,jdbcType=VARCHAR} ,
        category_id = #{item.categoryId,jdbcType=INTEGER} ,
        ds_id = #{item.dsId,jdbcType=INTEGER} ,
        name = #{item.name,jdbcType=VARCHAR} ,
        sql_text = #{item.sqlText,jdbcType=LONGVARCHAR} ,
        meta_columns = #{item.metaColumns,jdbcType=LONGVARCHAR} ,
        query_params = #{item.queryParams,jdbcType=LONGVARCHAR} ,
        options = #{item.options,jdbcType=LONGVARCHAR} ,
        path = #{item.path,jdbcType=VARCHAR} ,
        status = #{item.status,jdbcType=INTEGER} ,
        sequence = #{item.sequence,jdbcType=INTEGER} ,
        comment = #{item.comment,jdbcType=VARCHAR} ,
        create_user = #{item.createUser,jdbcType=VARCHAR} ,
        gmt_created = #{item.gmtCreated,jdbcType=TIMESTAMP} ,
        gmt_modified = #{item.gmtModified,jdbcType=TIMESTAMP}
    </sql>
    <!-- insert -->
    <insert id="insert" parameterType="com.easytoolsoft.easyreport.data.metadata.po.Report">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into ezrpt_meta_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Insert_Columns"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="Insert_Values"/>
        </trim>
    </insert>
    <insert id="batchInsert" parameterType="java.util.List">
        insert into ezrpt_meta_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Base_Column_List_Without_Id"/>
        </trim>
        values
        <foreach collection="list" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <include refid="Batch_Insert_Values"/>
            </trim>
        </foreach>
    </insert>
    <!-- end insert -->
    <!-- delete -->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from ezrpt_meta_report where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.easytoolsoft.easyreport.data.metadata.example.ReportExample">
        delete from ezrpt_meta_report
        <if test="_parameter != null">
            <include refid="Example_Where_Clause1"/>
        </if>
    </delete>
    <delete id="deleteIn">
        delete from ezrpt_meta_report where id in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </delete>
    <!-- end delete -->
    <!-- update -->
    <update id="updateById" parameterType="com.easytoolsoft.easyreport.data.metadata.po.Report">
        update ezrpt_meta_report
        <set>
            <include refid="Update_Set_From_Bean"/>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="update" parameterType="java.util.Map">
        update ezrpt_meta_report
        <set>
            <include refid="Update_Set_From_Map"/>
        </set>
        <if test="_parameter != null">
            <include refid="Example_Where_Clause2"/>
        </if>
    </update>
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update ezrpt_meta_report
            <include refid="BatchUpdate_Set_From_Bean"/>
            where id=#{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    <!-- end update -->
    <!-- select -->
    <select id="selectById" resultMap="ReportMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_meta_report
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByExample" resultMap="ReportMap"
            parameterType="com.easytoolsoft.easyreport.data.metadata.example.ReportExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from ezrpt_meta_report
        <if test="_parameter != null">
            <include refid="Example_Where_Clause1"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectOneByExample" resultMap="ReportMap"
            parameterType="com.easytoolsoft.easyreport.data.metadata.example.ReportExample">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_meta_report
        <if test="_parameter != null">
            <include refid="Example_Where_Clause1"/>
        </if>
        limit 1
    </select>
    <select id="selectIn" resultMap="ReportMap" parameterType="java.util.List">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_meta_report
        where id IN
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </select>
    <select id="countByExample" resultType="java.lang.Integer"
            parameterType="com.easytoolsoft.easyreport.data.metadata.example.ReportExample">
        select count(*) as total from ezrpt_meta_report
        <if test="_parameter != null">
            <include refid="Example_Where_Clause1"/>
        </if>
    </select>
    <select id="countByPager" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*) as total from ezrpt_meta_report
        <if test="example != null">
            <include refid="Example_Where_Clause2"/>
        </if>
    </select>
    <select id="selectByPager" resultMap="ReportMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from ezrpt_meta_report
        <if test="example != null">
            <include refid="Example_Where_Clause2"/>
        </if>
        <if test="pager.sortItem != null and pager.sortItem != '' ">
            order by ${pager.sortItem} ${pager.sortType}
        </if>
        limit #{pager.startIndex} , #{pager.pageSize}
    </select>
    <!-- end select -->
    <!-- My Custom Interfaces -->
</mapper>