body {
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 10px;
	font-size:9pt;
	color: #000000;
	border: none;
}

fieldset.searchBar {
	width: 800px;
	border: 1px solid #9FB4D9;
}
fieldset.searchBar legend {
	cursor:hand;
	font-size: 9pt;
}
fieldset.searchBar div {
	text-align:left;
	padding:3px;
}
fieldset.searchBar .inputnormal,
fieldset.searchBar .inputnotnull,
fieldset.searchBar .inputreadonly,{
	width: auto;
}