.icon-edit1 {
    background: url('icons/edit1.png') no-repeat center center;
}

.icon-remove1 {
    background: url('icons/remove1.png') no-repeat center center;
}

.icon-user {
    background: url('icons/user.png') no-repeat center center;
}

.icon-my {
    background: url('icons/my.png') no-repeat center center;
}

.icon-member {
    background: url('icons/member.png') no-repeat center center;
}

.icon-param {
    background: url('icons/param.png') no-repeat center center;
}

.icon-site {
    background: url('icons/site.png') no-repeat center center;
}

.icon-group {
    background: url('icons/group.png') no-repeat center center;
}

.icon-event {
    background: url('icons/event.png') no-repeat center center;
}

.icon-org {
    background: url('icons/org.png') no-repeat center center;
}

.icon-settings {
    background: url('icons/settings.png') no-repeat center center;
}

.icon-settings1 {
    background: url('icons/settings1.png') no-repeat center center;
}

.icon-settings2 {
    background: url('icons/settings2.png') no-repeat center center;
}

.icon-settings3 {
    background: url('icons/settings3.png') no-repeat center center;
}

.icon-settings4 {
    background: url('icons/settings4.png') no-repeat center center;
}

.icon-dict {
    background: url('icons/dict.png') no-repeat center center;
}

.icon-device {
    background: url('icons/device.png') no-repeat center center;
}

.icon-info {
    background: url('icons/info.png') no-repeat center center;
}

.icon-comment {
    background: url('icons/comment.png') no-repeat center center;
}

.icon-prev {
    background: url('icons/prev.png') no-repeat center center;
}

.icon-prev1 {
    background: url('icons/prev1.png') no-repeat center center;
}

.icon-next {
    background: url('icons/next.png') no-repeat center center;
}

.icon-next1 {
    background: url('icons/next1.png') no-repeat center center;
}

.icon-avatar {
    background: url('icons/avatar.png') no-repeat center center;
}

.icon-dict1 {
    background: url('icons/dict1.png') no-repeat center center;
}

.icon-dict2 {
    background: url('icons/dict2.png') no-repeat center center;
}

.icon-item {
    background: url('icons/item.png') no-repeat center center;
}

.icon-item1 {
    background: url('icons/item1.png') no-repeat center center;
}

.icon-perm {
    background: url('icons/perm.png') no-repeat center center;
}

.icon-pwd {
    background: url('icons/pwd.png') no-repeat center center;
}

.icon-copy {
    background: url('icons/copy.png') no-repeat center center;
}

.icon-copy1 {
    background: url('icons/copy1.png') no-repeat center center;
}

.icon-preview {
    background: url('icons/preview.png') no-repeat center center;
}

.icon-preview1 {
    background: url('icons/preview1.png') no-repeat center center;
}

.icon-cancel1 {
    background: url('icons/cancel1.png') no-repeat center center;
}

.icon-clear1 {
    background: url('icons/clear1.png') no-repeat center center;
}

.icon-fullscreen {
    background: url('icons/fullscreen.png') no-repeat center center;
}

.icon-timer {
    background: url('icons/timer.png') no-repeat center center;
}

.icon-timer1 {
    background: url('icons/timer1.png') no-repeat center center;
}

.icon-console {
    background: url('icons/console.png') no-repeat center center;
}

.icon-list {
    background: url('icons/list.png') no-repeat center center;
}

.icon-report {
    background: url('icons/report.png') no-repeat center center;
}

.icon-datasource {
    background: url('icons/datasource.png') no-repeat center center;
}

.icon-api {
    background: url('icons/api.png') no-repeat center center;
}

.icon-editapi {
    background: url('icons/editapi.png') no-repeat center center;
}

.icon-dse {
    background: url('icons/dse.png') no-repeat center center;
}

.icon-app {
    background: url('icons/app.png') no-repeat center center;
}

.icon-strategy {
    background: url('icons/strategy.png') no-repeat center center;
}

.icon-connect {
    background: url('icons/connect.png') no-repeat center center;
}

.icon-up {
    background: url('icons/up.png') no-repeat center center;
}

.icon-down {
    background: url('icons/down.png') no-repeat center center;
}

.icon-history {
    background: url('icons/history.png') no-repeat center left;
}

.icon-categories {
    background: url('icons/categories.png') no-repeat center left;
}

.icon-category {
    background: url('icons/category.png') no-repeat center left;
}

.icon-chart {
    background: url('icons/chart.png') no-repeat center center;
}

.icon-scheduled1 {
    background: url('icons/scheduled1.png') no-repeat center center;
}

.icon-scheduled2 {
    background: url('icons/scheduled2.png') no-repeat center center;
}

.icon-scheduled3 {
    background: url('icons/scheduled3.png') no-repeat center center;
}

.icon-task1 {
    background: url('icons/task1.png') no-repeat center center;
}

.icon-task2 {
    background: url('icons/task2.png') no-repeat center center;
}

.icon-designer1 {
    background: url('icons/designer1.png') no-repeat center center;
}

.icon-designer2 {
    background: url('icons/designer2.png') no-repeat center center;
}

.icon-sql {
    background: url('icons/sql.png') no-repeat center center;
}

.icon-designer {
    background: url('icons/designer.png') no-repeat center center;
}

.icon-window {
    background: url('icons/window.png') no-repeat center center;
}

.icon-home {
    background: url('icons/home.png') no-repeat center center;
}

.icon-table {
    background: url('icons/table.png') no-repeat center center;
}

.icon-chart4 {
    background: url('icons/chart4.png') no-repeat center center;
}

.icon-lang {
    background: url('icons/lang.png') no-repeat center center;
}

.icon-locale {
    background: url('icons/locale.png') no-repeat center center;
}

.icon-news {
    background: url('icons/news.png') no-repeat center center;
}

.icon-website {
    background: url('icons/website.png') no-repeat center center;
}

.icon-webpage {
    background: url('icons/webpage.png') no-repeat center center;
}
